code{font:10pt Courier New,Courier,mono,sans-serif}
code.contenuCode{padding:0;text-align:left;text-decoration:none;font:10pt Courier New,Courier,mono,sans-serif}
div.code_avec_lignes{padding:13px 0px 13px 10px;}
.code_avec_lignes .code_uniquement {padding-left: 5px;}
.numeros_lignes{float:left;text-align:right;font:10pt Courier New,Courier,mono,sans-serif;padding: 1px 2px 0px 5px;line-height:18px;margin-right:5px;background-color:#e8e8e8;}
/*.numeros_lignes{line-height:inherit;}*/
.marge_code{color:#fff;padding-left:2px;padding-right:2px;margin-right:2px;font-weight:700;background:#b6b5d2}
.marge_code_highlight{color:red;padding-left:2px;padding-right:2px;margin-right:2px;font-style:italic;background:#b6b5d2}
.ligne_code_vide{visibility:hidden;height:0}
.codeWrapper{height:auto;min-height:30px;width:100%}
* html .codeWrapper{height:30px}
.keyword1{color:#7f0055}
.keyword2{color:#03f}
.keyword3{color:#3066ac}
.keyword4{color:#36c}
.function,.markup{color:navy}
.operator{color:#7f0055}
.label{color:olive}
.digit{color:red}
.comment1{color:#3f7f5f}
.comment2{color:#999}
.comment3{color:#3f5fbf}
.comment4{color:navy}
.literal1{color:#2a00ff}
.literal2{color:teal}
.literal3{color:teal}
.actionscript_keyword1{font-weight:700;color:#36c}
.actionscript_keyword2{color:#36c}
.actionscript_keyword3{color:#36c}
.actionscript_keyword4{color:#36c}
.actionscript_function,.actionscript_markup{color:#36c}
.actionscript_operator{color:#7f0055}
.actionscript_label{color:olive}
.actionscript_digit{color:red}
.actionscript_comment1{color:green}
.actionscript_comment2{color:#999}
.actionscript_comment3{color:#3f5fbf}
.actionscript_comment4{color:navy}
.actionscript_literal1{color:#939}
.actionscript_literal2{color:#36c}
.ada95_keyword1{color:#7f0055}
.ada95_keyword2{color:#03f}
.ada95_keyword3{color:#3066ac}
.ada95_keyword4{color:#36c}
.ada95_function,.ada95_markup{color:navy}
.ada95_operator{color:#7f0055}
.ada95_label{color:olive}
.ada95_digit{color:red}
.ada95_comment1{color:#3f7f5f}
.ada95_comment2{color:#999}
.ada95_comment3{color:#3f5fbf}
.ada95_comment4{color:navy}
.ada95_literal1{color:#2a00ff}
.ada95_literal2{color:teal}
.al_keyword1{color:#0099cc;font-weight:bold;}
.al_keyword2{color:#0099cc;font-weight:bold;}
.al_keyword3{color:#0099cc;font-weight:bold;}
.al_keyword4{color:#0099cc;font-weight:bold;}
.al_function,.al_markup{color:#333333;}
.al_operator{color:#cc0000;}
.al_label{color:#000000;}
.al_digit{color:#9933cc;font-weight:bold;}
.al_comment1{color:#669900;font-style:italic;}
.al_comment2{color:#669900;font-style:italic;}
.al_comment3{color:#669900;font-style:italic;}
.al_comment4{color:#669900;font-style:italic;}
.al_literal1{color:#9933cc;}
.al_literal2{color:#9933cc;}
.al_literal3{color:#9933cc;}
.antlr_keyword1{color:#7f0055}
.antlr_keyword2{color:#03f}
.antlr_keyword3{color:#3066ac}
.antlr_keyword4{color:#36c}
.antlr_function,.antlr_markup{color:navy}
.antlr_operator{color:#7f0055}
.antlr_label{color:olive}
.antlr_digit{color:red}
.antlr_comment1{color:#3f7f5f}
.antlr_comment2{color:#999}
.antlr_comment3{color:#3f5fbf}
.antlr_comment4{color:navy}
.antlr_literal1{color:#2a00ff}
.antlr_literal2{color:teal}
.apacheconf_keyword1{color:#7f0055}
.apacheconf_keyword2{color:#03f}
.apacheconf_keyword3{color:#3066ac}
.apacheconf_keyword4{color:#36c}
.apacheconf_function,.apacheconf_markup{color:navy}
.apacheconf_operator{color:#7f0055}
.apacheconf_label{color:olive}
.apacheconf_digit{color:red}
.apacheconf_comment1{color:#3f7f5f}
.apacheconf_comment2{color:#999}
.apacheconf_comment3{color:#3f5fbf}
.apacheconf_comment4{color:navy}
.apacheconf_literal1{color:#2a00ff}
.apacheconf_literal2{color:teal}
.apdl_keyword1{color:#7f0055}
.apdl_keyword2{color:#03f}
.apdl_keyword3{color:#3066ac}
.apdl_keyword4{color:#36c}
.apdl_function,.apdl_markup{color:navy}
.apdl_operator{color:#7f0055}
.apdl_label{color:olive}
.apdl_digit{color:red}
.apdl_comment1{color:#3f7f5f}
.apdl_comment2{color:#999}
.apdl_comment3{color:#3f5fbf}
.apdl_comment4{color:navy}
.apdl_literal1{color:#2a00ff}
.apdl_literal2{color:teal}
.applescript_keyword1{color:#7f0055}
.applescript_keyword2{color:#03f}
.applescript_keyword3{color:#3066ac}
.applescript_keyword4{color:#36c}
.applescript_function,.applescript_markup{color:navy}
.applescript_operator{color:#7f0055}
.applescript_label{color:olive}
.applescript_digit{color:red}
.applescript_comment1{color:#3f7f5f}
.applescript_comment2{color:#999}
.applescript_comment3{color:#3f5fbf}
.applescript_comment4{color:navy}
.applescript_literal1{color:#2a00ff}
.applescript_literal2{color:teal}
.asymptote_comment1{color:#9b9989}
.asymptote_comment2{color:#9b9989}
.asymptote_function{color:#990000}
.asymptote_literal1{color:#990000}
.asymptote_literal2{color:#ba8745}
.asymptote_keyword1{color:#0000FF}
.asymptote_keyword2{color:#455487}
.asymptote_keyword3{color:#008080}
.asymptote_keyword4{color:#49ac49}
.asymptote_digit{color:#009999}
.as_keyword1{font-weight:700;color:#36c}
.as_keyword2{color:#36c}
.as_keyword3{color:#36c}
.as_keyword4{color:#36c}
.as_function,.as_markup{color:#36c}
.as_operator{color:#7f0055}
.as_label{color:olive}
.as_digit{color:red}
.as_comment1{color:green}
.as_comment2{color:#999}
.as_comment3{color:#3f5fbf}
.as_comment4{color:navy}
.as_literal1{color:#939}
.as_literal2{color:#36c}
.asp_keyword1{color:#609}
.asp_keyword2{color:#03f}
.asp_keyword3{font-weight:700;color:#900}
.asp_keyword4{color:#36c}
.asp_function,.asp_markup{font-weight:700;color:#009}
.asp_operator{color:#7f0055}
.asp_label{color:olive}
.asp_digit{color:red}
.asp_comment1{color:#999}
.asp_comment2{color:#999}
.asp_comment3{color:#3f5fbf}
.asp_comment4{color:navy}
.asp_literal1{color:#060}
.asp_literal2{color:teal}
.aspect-j_keyword1{color:#7f0055}
.aspect-j_keyword2{color:#03f}
.aspect-j_keyword3{color:#3066ac}
.aspect-j_keyword4{color:#36c}
.aspect-j_function,.aspect-j_markup{color:navy}
.aspect-j_operator{color:#7f0055}
.aspect-j_label{color:olive}
.aspect-j_digit{color:red}
.aspect-j_comment1{color:#3f7f5f}
.aspect-j_comment2{color:#999}
.aspect-j_comment3{color:#3f5fbf}
.aspect-j_comment4{color:navy}
.aspect-j_literal1{color:#2a00ff}
.aspect-j_literal2{color:teal}
.aspnet_keyword1{color:#7f0055}
.aspnet_keyword2{color:#03f}
.aspnet_keyword3{color:#3066ac}
.aspnet_keyword4{color:#36c}
.aspnet_function{color:#923f16}
.aspnet_markup{color:#923f16}
.aspnet_operator{color:#7f0055}
.aspnet_label{color:olive}
.aspnet_digit{color:red}
.aspnet_comment1{color:#00a000}
.aspnet_comment2{color:#999}
.aspnet_comment3{color:#3f5fbf}
.aspnet_comment4{color:navy}
.aspnet_literal1{color:#00f}
.aspnet_literal2{color:teal}
.assembly-m68k_keyword1{color:#7f0055}
.assembly-m68k_keyword2{color:#03f}
.assembly-m68k_keyword3{color:#3066ac}
.assembly-m68k_keyword4{color:#36c}
.assembly-m68k_function,.assembly-m68k_markup{color:navy}
.assembly-m68k_operator{color:#7f0055}
.assembly-m68k_label{color:olive}
.assembly-m68k_digit{color:red}
.assembly-m68k_comment1{color:#3f7f5f}
.assembly-m68k_comment2{color:#999}
.assembly-m68k_comment3{color:#3f5fbf}
.assembly-m68k_comment4{color:navy}
.assembly-m68k_literal1{color:#2a00ff}
.assembly-m68k_literal2{color:teal}
.assembly-macro32_keyword1{color:#7f0055}
.assembly-macro32_keyword2{color:#03f}
.assembly-macro32_keyword3{color:#3066ac}
.assembly-macro32_keyword4{color:#36c}
.assembly-macro32_function,.assembly-macro32_markup{color:navy}
.assembly-macro32_operator{color:#7f0055}
.assembly-macro32_label{color:olive}
.assembly-macro32_digit{color:red}
.assembly-macro32_comment1{color:#3f7f5f}
.assembly-macro32_comment2{color:#999}
.assembly-macro32_comment3{color:#3f5fbf}
.assembly-macro32_comment4{color:navy}
.assembly-macro32_literal1{color:#2a00ff}
.assembly-macro32_literal2{color:teal}
.assembly-mcs51_keyword1{color:#7f0055}
.assembly-mcs51_keyword2{color:#03f}
.assembly-mcs51_keyword3{color:#3066ac}
.assembly-mcs51_keyword4{color:#36c}
.assembly-mcs51_function,.assembly-mcs51_markup{color:navy}
.assembly-mcs51_operator{color:#7f0055}
.assembly-mcs51_label{color:olive}
.assembly-mcs51_digit{color:red}
.assembly-mcs51_comment1{color:#3f7f5f}
.assembly-mcs51_comment2{color:#999}
.assembly-mcs51_comment3{color:#3f5fbf}
.assembly-mcs51_comment4{color:navy}
.assembly-mcs51_literal1{color:#2a00ff}
.assembly-mcs51_literal2{color:teal}
.assembly-parrot_keyword1{color:#7f0055}
.assembly-parrot_keyword2{color:#03f}
.assembly-parrot_keyword3{color:#3066ac}
.assembly-parrot_keyword4{color:#36c}
.assembly-parrot_function,.assembly-parrot_markup{color:navy}
.assembly-parrot_operator{color:#7f0055}
.assembly-parrot_label{color:olive}
.assembly-parrot_digit{color:red}
.assembly-parrot_comment1{color:#3f7f5f}
.assembly-parrot_comment2{color:#999}
.assembly-parrot_comment3{color:#3f5fbf}
.assembly-parrot_comment4{color:navy}
.assembly-parrot_literal1{color:#2a00ff}
.assembly-parrot_literal2{color:teal}
.assembly-r2000_keyword1{color:#7f0055}
.assembly-r2000_keyword2{color:#03f}
.assembly-r2000_keyword3{color:#3066ac}
.assembly-r2000_keyword4{color:#36c}
.assembly-r2000_function,.assembly-r2000_markup{color:navy}
.assembly-r2000_operator{color:#7f0055}
.assembly-r2000_label{color:olive}
.assembly-r2000_digit{color:red}
.assembly-r2000_comment1{color:#3f7f5f}
.assembly-r2000_comment2{color:#999}
.assembly-r2000_comment3{color:#3f5fbf}
.assembly-r2000_comment4{color:navy}
.assembly-r2000_literal1{color:#2a00ff}
.assembly-r2000_literal2{color:teal}
.assembly-x86_keyword1{color:#7f0055}
.assembly-x86_keyword2{color:#03f}
.assembly-x86_keyword3{color:#3066ac}
.assembly-x86_keyword4{color:#36c}
.assembly-x86_function,.assembly-x86_markup{color:navy}
.assembly-x86_operator{color:#7f0055}
.assembly-x86_label{color:olive}
.assembly-x86_digit{color:red}
.assembly-x86_comment1{color:#3f7f5f}
.assembly-x86_comment2{color:#999}
.assembly-x86_comment3{color:#3f5fbf}
.assembly-x86_comment4{color:navy}
.assembly-x86_literal1{color:#2a00ff}
.assembly-x86_literal2{color:teal}
.awk_keyword1{font-weight:700;color:#bad7b9}
.awk_keyword2{color:#03f}
.awk_keyword3{color:#bad7b9}
.awk_keyword4{color:#36c}
.awk_function,.awk_markup{color:navy}
.awk_operator{color:#7f0055}
.awk_label{color:olive}
.awk_digit{color:red}
.awk_comment1{font-weight:700;color:#d59b9b}
.awk_comment2{color:#999}
.awk_comment3{color:#3f5fbf}
.awk_comment4{color:navy}
.awk_literal1{color:#a8b6db}
.awk_literal2{color:teal}
.b_keyword1{color:#7f0055}
.b_keyword2{color:#03f}
.b_keyword3{color:#3066ac}
.b_keyword4{color:#36c}
.b_function,.b_markup{color:navy}
.b_operator{color:#7f0055}
.b_label{color:olive}
.b_digit{color:red}
.b_comment1{color:#3f7f5f}
.b_comment2{color:#999}
.b_comment3{color:#3f5fbf}
.b_comment4{color:navy}
.b_literal1{color:#2a00ff}
.b_literal2{color:teal}
.batch_keyword1{color:blue;font-weight: bold;}
.batch_keyword2{color:#03f}
.batch_keyword3{color:fuchsia;font-weight: bold;}
.batch_keyword4{color:#36c}
.batch_function{color:navy}
.batch_markup{color:orange}
.batch_operator{color:red}
.batch_label{color:olive}
/*
** not exist in batch
**
** .batch_digit{color:red}
*/
.batch_comment1{color:#3f7f5f}
.batch_comment2{color:#999}
/*
** not exist in batch
**
** .batch_comment3{color:#3f5fbf}
** .batch_comment4{color:navy}
** .batch_literal1{color:#2a00ff}
** .batch_literal2{color:teal}
*/
.bbj_keyword1{color:#7f0055}
.bbj_keyword2{color:#03f}
.bbj_keyword3{color:#3066ac}
.bbj_keyword4{color:#36c}
.bbj_function,.bbj_markup{color:navy}
.bbj_operator{color:#7f0055}
.bbj_label{color:olive}
.bbj_digit{color:red}
.bbj_comment1{color:#3f7f5f}
.bbj_comment2{color:#999}
.bbj_comment3{color:#3f5fbf}
.bbj_comment4{color:navy}
.bbj_literal1{color:#2a00ff}
.bbj_literal2{color:teal}
.bcel_keyword1{color:#7f0055}
.bcel_keyword2{color:#03f}
.bcel_keyword3{color:#3066ac}
.bcel_keyword4{color:#36c}
.bcel_function,.bcel_markup{color:navy}
.bcel_operator{color:#7f0055}
.bcel_label{color:olive}
.bcel_digit{color:red}
.bcel_comment1{color:#3f7f5f}
.bcel_comment2{color:#999}
.bcel_comment3{color:#3f5fbf}
.bcel_comment4{color:navy}
.bcel_literal1{color:#2a00ff}
.bcel_literal2{color:teal}
.bibtex_keyword1{color:#7f0055}
.bibtex_keyword2{color:#03f}
.bibtex_keyword3{color:#3066ac}
.bibtex_keyword4{color:#36c}
.bibtex_function,.bibtex_markup{color:navy}
.bibtex_operator{color:#7f0055}
.bibtex_label{color:olive}
.bibtex_digit{color:red}
.bibtex_comment1{color:#3f7f5f}
.bibtex_comment2{color:#999}
.bibtex_comment3{color:#3f5fbf}
.bibtex_comment4{color:navy}
.bibtex_literal1{color:#2a00ff}
.bibtex_literal2{color:teal}
.c_keyword1{font-weight:700;color:#000}
.c_keyword2{color:#03f}
.c_keyword3{font-weight:700;color:#000}
.c_keyword4{color:#36c}
.c_function,.c_markup{color:navy}
.c_operator{color:navy}
.c_label{color:olive}
.c_digit{color:red}
.c_comment1{font-style:italic;color:navy}
.c_comment2{color:#999}
.c_comment3{color:#3f5fbf}
.c_comment4{color:navy}
.c_literal1{color:#2a00ff}
.c_literal2{color:teal}
.c_literal3{color:red}
.c_literal4{color:#339933}
.ceylon_keyword1{font-weight:700;color:#800080}
.ceylon_keyword2{color:#008080}
.ceylon_comment1{color:#808080}
.ceylon_literal1{color:#0000FF}
.ceylon_literal2{color:#000080}
.ceylon_digit{color:#0000FF}
.chill_keyword1{color:#7f0055}
.chill_keyword2{color:#03f}
.chill_keyword3{color:#3066ac}
.chill_keyword4{color:#36c}
.chill_function,.chill_markup{color:navy}
.chill_operator{color:#7f0055}
.chill_label{color:olive}
.chill_digit{color:red}
.chill_comment1{color:#3f7f5f}
.chill_comment2{color:#999}
.chill_comment3{color:#3f5fbf}
.chill_comment4{color:navy}
.chill_literal1{color:#2a00ff}
.chill_literal2{color:teal}
.cil_keyword1{color:#7f0055}
.cil_keyword2{color:#03f}
.cil_keyword3{color:#3066ac}
.cil_keyword4{color:#36c}
.cil_function,.cil_markup{color:navy}
.cil_operator{color:#7f0055}
.cil_label{color:olive}
.cil_digit{color:red}
.cil_comment1{color:#3f7f5f}
.cil_comment2{color:#999}
.cil_comment3{color:#3f5fbf}
.cil_comment4{color:navy}
.cil_literal1{color:#2a00ff}
.cil_literal2{color:teal}
.cobol_keyword1{color:#7f0055}
.cobol_keyword2{color:#03f}
.cobol_keyword3{color:#3066ac}
.cobol_keyword4{color:#36c}
.cobol_function,.cobol_markup{color:navy}
.cobol_operator{color:#7f0055}
.cobol_label{color:olive}
.cobol_digit{color:red}
.cobol_comment1{color:#3f7f5f}
.cobol_comment2{color:#999}
.cobol_comment3{color:#3f5fbf}
.cobol_comment4{color:navy}
.cobol_literal1{color:#2a00ff}
.cobol_literal2{color:teal}
.coldfusion_keyword1{color:#7f0055}
.coldfusion_keyword2{color:#03f}
.coldfusion_keyword3{color:#3066ac}
.coldfusion_keyword4{color:#36c}
.coldfusion_function,.coldfusion_markup{color:navy}
.coldfusion_operator{color:#7f0055}
.coldfusion_label{color:olive}
.coldfusion_digit{color:red}
.coldfusion_comment1{color:#3f7f5f}
.coldfusion_comment2{color:#999}
.coldfusion_comment3{color:#3f5fbf}
.coldfusion_comment4{color:navy}
.coldfusion_literal1{color:#2a00ff}
.coldfusion_literal2{color:teal}
.cpp_keyword1{color:#0000ff}
.cpp_keyword2{color:#0000ff}
.cpp_keyword3{color:#0000ff}
.cpp_function,.cpp_markup{font-weight:700}
.cpp_operator{color:#7f0055}
.cpp_label{color:olive}
.cpp_digit{color:red}
.cpp_comment1{color:#888888}
.cpp_comment2{color:#888888}
.cpp_comment3{color:#3f5fbf}
.cpp_comment4{color:navy}
.cpp_literal1{color:red}
.cpp_literal2{color:teal}
.cpp_literal3{color:#339933}
.cpp_literal4{color:#880000}
.csharp_keyword1{color:#03f}
.csharp_keyword2{color:#03f}
.csharp_keyword3{color:#3066ac}
.csharp_keyword4{color:#36c}
.csharp_function,.csharp_markup{color:navy}
.csharp_operator{color:navy}
.csharp_label{color:olive}
.csharp_digit{color:red}
.csharp_comment1{color:green}
.csharp_comment2{color:green}
.csharp_comment3{color:#3f5fbf}
.csharp_comment4{color:navy}
.csharp_literal1{color:#939}
.csharp_literal2{color:teal}
.css_keyword1{color:#FF803A}
.css_keyword2{color:#03f}
.css_keyword3{color:#3066ac}
.css_keyword4{color:#36c}
.css_function,.css_markup{color:navy}
.css_operator{color:#7f0055}
.css_label{color:olive}
.css_digit{color:red}
.css_comment1{color:#3f7f5f}
.css_comment2{color:#999}
.css_comment3{color:#3f5fbf}
.css_comment4{color:navy}
.css_literal1{color:red}
.css_literal2{color:teal}
.css_literal3{color:red}
.css_literal4{color:#FF803A}
.cvs-commit_keyword1{color:#7f0055}
.cvs-commit_keyword2{color:#03f}
.cvs-commit_keyword3{color:#3066ac}
.cvs-commit_keyword4{color:#36c}
.cvs-commit_function,.cvs-commit_markup{color:navy}
.cvs-commit_operator{color:#7f0055}
.cvs-commit_label{color:olive}
.cvs-commit_digit{color:red}
.cvs-commit_comment1{color:#3f7f5f}
.cvs-commit_comment2{color:#999}
.cvs-commit_comment3{color:#3f5fbf}
.cvs-commit_comment4{color:navy}
.cvs-commit_literal1{color:#2a00ff}
.cvs-commit_literal2{color:teal}
.d_keyword1{color:#7f0055}
.d_keyword2{color:#03f}
.d_keyword3{color:#3066ac}
.d_keyword4{color:#36c}
.d_function,.d_markup{color:navy}
.d_operator{color:#7f0055}
.d_label{color:olive}
.d_digit{color:red}
.d_comment1{color:#3f7f5f}
.d_comment2{color:#999}
.d_comment3{color:#3f5fbf}
.d_comment4{color:navy}
.d_literal1{color:#2a00ff}
.d_literal2{color:teal}
.dart_keyword1{color:#294ca9;}
.dart_keyword2{color:#279329;}
.dart_literal1{color:#0084ce;}
.dart_literal2{color:#2f2f79;}
.dart_literal3{color:#339933;}
.dart_comment1{color:#8a868a;}
.dart_digit{color:#2fbcb2;}
.doxygen_keyword1{color:#7f0055}
.doxygen_keyword2{color:#03f}
.doxygen_keyword3{color:#3066ac}
.doxygen_keyword4{color:#36c}
.doxygen_function,.doxygen_markup{color:navy}
.doxygen_operator{color:#7f0055}
.doxygen_label{color:olive}
.doxygen_digit{color:red}
.doxygen_comment1{color:#3f7f5f}
.doxygen_comment2{color:#999}
.doxygen_comment3{color:#3f5fbf}
.doxygen_comment4{color:navy}
.doxygen_literal1{color:#2a00ff}
.doxygen_literal2{color:teal}
.dsssl_keyword1{color:#7f0055}
.dsssl_keyword2{color:#03f}
.dsssl_keyword3{color:#3066ac}
.dsssl_keyword4{color:#36c}
.dsssl_function,.dsssl_markup{color:navy}
.dsssl_operator{color:#7f0055}
.dsssl_label{color:olive}
.dsssl_digit{color:red}
.dsssl_comment1{color:#3f7f5f}
.dsssl_comment2{color:#999}
.dsssl_comment3{color:#3f5fbf}
.dsssl_comment4{color:navy}
.dsssl_literal1{color:#2a00ff}
.dsssl_literal2{color:teal}
.eiffel_keyword1{color:#7f0055}
.eiffel_keyword2{color:#03f}
.eiffel_keyword3{color:#3066ac}
.eiffel_keyword4{color:#36c}
.eiffel_function,.eiffel_markup{color:navy}
.eiffel_operator{color:#7f0055}
.eiffel_label{color:olive}
.eiffel_digit{color:red}
.eiffel_comment1{color:#3f7f5f}
.eiffel_comment2{color:#999}
.eiffel_comment3{color:#3f5fbf}
.eiffel_comment4{color:navy}
.eiffel_literal1{color:#2a00ff}
.eiffel_literal2{color:teal}
.embperl_keyword1{color:#7f0055}
.embperl_keyword2{color:#03f}
.embperl_keyword3{color:#3066ac}
.embperl_keyword4{color:#36c}
.embperl_function,.embperl_markup{color:navy}
.embperl_operator{color:#7f0055}
.embperl_label{color:olive}
.embperl_digit{color:red}
.embperl_comment1{color:#3f7f5f}
.embperl_comment2{color:#999}
.embperl_comment3{color:#3f5fbf}
.embperl_comment4{color:navy}
.embperl_literal1{color:#2a00ff}
.embperl_literal2{color:teal}
.erlang_keyword1{color:#7f0055}
.erlang_keyword2{color:#03f}
.erlang_keyword3{color:#3066ac}
.erlang_keyword4{color:#36c}
.erlang_function,.erlang_markup{color:navy}
.erlang_operator{color:#7f0055}
.erlang_label{color:olive}
.erlang_digit{color:red}
.erlang_comment1{color:#3f7f5f}
.erlang_comment2{color:#999}
.erlang_comment3{color:#3f5fbf}
.erlang_comment4{color:navy}
.erlang_literal1{color:#2a00ff}
.erlang_literal2{color:teal}
.exalgo_literal1 {color: red;}
.exalgo_keyword1 {color: #0000ff;}
.exalgo_keyword2 {color: #0080ff;}
.exalgo_keyword3 {color: #339933;}
.exalgo_comment1 {color: #888888;}
.exalgo_digit {color: red;}
.factor_keyword1{color:#7f0055}
.factor_keyword2{color:#03f}
.factor_keyword3{color:#3066ac}
.factor_keyword4{color:#36c}
.factor_function,.factor_markup{color:navy}
.factor_operator{color:#7f0055}
.factor_label{color:olive}
.factor_digit{color:red}
.factor_comment1{color:#3f7f5f}
.factor_comment2{color:#999}
.factor_comment3{color:#3f5fbf}
.factor_comment4{color:navy}
.factor_literal1{color:#2a00ff}
.factor_literal2{color:teal}
.forth_keyword1{color:#7f0055}
.forth_keyword2{color:#03f}
.forth_keyword3{color:#3066ac}
.forth_keyword4{color:#36c}
.forth_function,.forth_markup{color:navy}
.forth_operator{color:#7f0055}
.forth_label{color:olive}
.forth_digit{color:red}
.forth_comment1{color:#3f7f5f}
.forth_comment2{color:#999}
.forth_comment3{color:#3f5fbf}
.forth_comment4{color:navy}
.forth_literal1{color:#2a00ff}
.forth_literal2{color:teal}
.fortran_keyword1{color:#7f0055}
.fortran_keyword2{color:#03f}
.fortran_keyword3{color:#3066ac}
.fortran_keyword4{color:#36c}
.fortran_function,.fortran_markup{color:navy}
.fortran_operator{color:#7f0055}
.fortran_label{color:olive}
.fortran_digit{color:red}
.fortran_comment1{color:#3f7f5f}
.fortran_comment2{color:#999}
.fortran_comment3{color:#3f5fbf}
.fortran_comment4{color:navy}
.fortran_literal1{color:#2a00ff}
.fortran_literal2{color:teal}
.foxpro_keyword1{color:#7f0055}
.foxpro_keyword2{color:#03f}
.foxpro_keyword3{color:#3066ac}
.foxpro_keyword4{color:#36c}
.foxpro_function,.foxpro_markup{color:navy}
.foxpro_operator{color:#7f0055}
.foxpro_label{color:olive}
.foxpro_digit{color:red}
.foxpro_comment1{color:#3f7f5f}
.foxpro_comment2{color:#999}
.foxpro_comment3{color:#3f5fbf}
.foxpro_comment4{color:navy}
.foxpro_literal1{color:#2a00ff}
.foxpro_literal2{color:teal}
.freemarker_keyword1{color:#7f0055}
.freemarker_keyword2{color:#03f}
.freemarker_keyword3{color:#3066ac}
.freemarker_keyword4{color:#36c}
.freemarker_function,.freemarker_markup{color:navy}
.freemarker_operator{color:#7f0055}
.freemarker_label{color:olive}
.freemarker_digit{color:red}
.freemarker_comment1{color:#3f7f5f}
.freemarker_comment2{color:#999}
.freemarker_comment3{color:#3f5fbf}
.freemarker_comment4{color:navy}
.freemarker_literal1{color:#2a00ff}
.freemarker_literal2{color:teal}
.fsharp_literal1{color:red;}
.fsharp_literal2{color:#339933}
.fsharp_literal3{font-style:italic}
.fsharp_literal4{color:#800000}
.fsharp_comment1{color:#888}
.fsharp_comment2{color:#888;font-weight:700}
.fsharp_comment3{color:#800000;font-style:italic}
.fsharp_digit{color:red}
.fsharp_operator{color:#7f0055}
.fsharp_keyword1{color:#0000ff}
.fsharp_keyword2{color:#0080ff}
.fsharp_keyword3{color:#339933}
.fsharp_keyword4{font-weight:700}
.gettext_keyword1{color:#7f0055}
.gettext_keyword2{color:#03f}
.gettext_keyword3{color:#3066ac}
.gettext_keyword4{color:#36c}
.gettext_function,.gettext_markup{color:navy}
.gettext_operator{color:#7f0055}
.gettext_label{color:olive}
.gettext_digit{color:red}
.gettext_comment1{color:#3f7f5f}
.gettext_comment2{color:#999}
.gettext_comment3{color:#3f5fbf}
.gettext_comment4{color:navy}
.gettext_literal1{color:#2a00ff}
.gettext_literal2{color:teal}
.glsl_keyword1{font-weight:700;color:#000}
.glsl_keyword2{color:green}
.glsl_keyword3{font-weight:700;font-style:italic;color:#000}
.glsl_keyword4{color:#36c}
.glsl_function{color:navy}
.glsl_markup{color:green}
.glsl_operator{color:navy}
.glsl_label{color:olive}
.glsl_digit{color:red}
.glsl_comment1{color:navy}
.glsl_comment2{font-style:italic;color:navy}
.glsl_comment3{color:#3f5fbf}
.glsl_comment4{color:navy}
.glsl_literal1{color:#2a00ff}
.glsl_literal2{color:teal}
.gnuplot_keyword1{color:#7f0055}
.gnuplot_keyword2{color:#03f}
.gnuplot_keyword3{color:#3066ac}
.gnuplot_keyword4{color:#36c}
.gnuplot_function,.gnuplot_markup{color:navy}
.gnuplot_operator{color:#7f0055}
.gnuplot_label{color:olive}
.gnuplot_digit{color:red}
.gnuplot_comment1{color:#3f7f5f}
.gnuplot_comment2{color:#999}
.gnuplot_comment3{color:#3f5fbf}
.gnuplot_comment4{color:navy}
.gnuplot_literal1{color:#2a00ff}
.gnuplot_literal2{color:teal}
.go_comment1{color:#808000} 
.go_literal1{color:#0000ff} 
.go_literal2{color:#0000ff;font-weight:bold}
.go_literal3{color:#660099}
.go_operator{color:#7f0055}
.go_keyword1{color:#006699;font-weight:bold}
.go_keyword3{color:#008000}
.go_function{font-weight:bold}
.go_digit{color:#ff0000}
.gradle-build_keyword1{color:#7f0055; font-weight:700;}
.gradle-build_keyword2{color:#03f;}
.gradle-build_keyword3{color:#3066ac;}
.gradle-build_comment1{color:#999;}
.gradle-build_literal1{color:#2a00ff;}
.gradle-build_label{color:#716900;}
.gradle-build_digit{color:red}
.groovy_keyword1{color:#7f0055}
.groovy_keyword2{color:#03f}
.groovy_keyword3{color:#3066ac}
.groovy_keyword4{color:#36c}
.groovy_function,.groovy_markup{color:navy}
.groovy_operator{color:#7f0055}
.groovy_label{color:olive}
.groovy_digit{color:red}
.groovy_comment1{color:#3f7f5f}
.groovy_comment2{color:#999}
.groovy_comment3{color:#3f5fbf}
.groovy_comment4{color:navy}
.groovy_literal1{color:#2a00ff}
.groovy_literal2{color:teal}
.haskell_keyword1{color:#7f0055}
.haskell_keyword2{color:#03f}
.haskell_keyword3{color:#3066ac}
.haskell_keyword4{color:#36c}
.haskell_function,.haskell_markup{color:navy}
.haskell_operator{color:#7f0055}
.haskell_label{color:olive}
.haskell_digit{color:red}
.haskell_comment1{color:#3f7f5f}
.haskell_comment2{color:#999}
.haskell_comment3{color:#3f5fbf}
.haskell_comment4{color:navy}
.haskell_literal1{color:#2a00ff}
.haskell_literal2{color:teal}
.hex_keyword1{color:#7f0055}
.hex_keyword2{color:#03f}
.hex_keyword3{color:#3066ac}
.hex_keyword4{color:#36c}
.hex_function,.hex_markup{color:navy}
.hex_operator{color:#7f0055}
.hex_label{color:olive}
.hex_digit{color:red}
.hex_comment1{color:#3f7f5f}
.hex_comment2{color:#999}
.hex_comment3{color:#3f5fbf}
.hex_comment4{color:navy}
.hex_literal1{color:#2a00ff}
.hex_literal2{color:teal}
.hlsl_keyword1{font-weight:700;color:#000}
.hlsl_keyword2{color:green}
.hlsl_keyword3{font-weight:700;font-style:italic;color:#000}
.hlsl_keyword4{color:#36c}
.hlsl_function{color:navy}
.hlsl_markup{color:green}
.hlsl_operator{color:navy}
.hlsl_label{color:olive}
.hlsl_digit{color:red}
.hlsl_comment1{color:navy}
.hlsl_comment2{font-style:italic;color:navy}
.hlsl_comment3{color:#3f5fbf}
.hlsl_comment4{color:navy}
.hlsl_literal1{color:#2a00ff}
.hlsl_literal2{color:teal}
.htaccess_keyword1{color:#7f0055}
.htaccess_keyword2{color:#03f}
.htaccess_keyword3{color:#3066ac}
.htaccess_keyword4{color:#36c}
.htaccess_function,.htaccess_markup{color:navy}
.htaccess_operator{color:#7f0055}
.htaccess_label{color:olive}
.htaccess_digit{color:red}
.htaccess_comment1{color:#3f7f5f}
.htaccess_comment2{color:#999}
.htaccess_comment3{color:#3f5fbf}
.htaccess_comment4{color:navy}
.htaccess_literal1{color:#2a00ff}
.htaccess_literal2{color:teal}
.html_keyword1{color:#7f0055}
.html_keyword2{color:#03f}
.html_keyword3{color:#3066ac}
.html_keyword4{color:#36c}
.html_function,.html_markup{color:navy}
.html_operator{color:#7f0055}
.html_label{color:olive}
.html_digit{color:red}
.html_comment1{color:#3f7f5f}
.html_comment2{color:#999}
.html_comment3{color:#3f5fbf}
.html_comment4{color:navy}
.html_literal1{color:red}
.html_literal2{color:teal}
.html_literal3{color:#0080ff}
.i4gl_keyword1{color:#7f0055}
.i4gl_keyword2{color:#03f}
.i4gl_keyword3{color:#3066ac}
.i4gl_keyword4{color:#36c}
.i4gl_function,.i4gl_markup{color:navy}
.i4gl_operator{color:#7f0055}
.i4gl_label{color:olive}
.i4gl_digit{color:red}
.i4gl_comment1{color:#3f7f5f}
.i4gl_comment2{color:#999}
.i4gl_comment3{color:#3f5fbf}
.i4gl_comment4{color:navy}
.i4gl_literal1{color:#2a00ff}
.i4gl_literal2{color:teal}
.icon_keyword1{color:#7f0055}
.icon_keyword2{color:#03f}
.icon_keyword3{color:#3066ac}
.icon_keyword4{color:#36c}
.icon_function,.icon_markup{color:navy}
.icon_operator{color:#7f0055}
.icon_label{color:olive}
.icon_digit{color:red}
.icon_comment1{color:#3f7f5f}
.icon_comment2{color:#999}
.icon_comment3{color:#3f5fbf}
.icon_comment4{color:navy}
.icon_literal1{color:#2a00ff}
.icon_literal2{color:teal}
.idl_keyword1{color:#7f0055}
.idl_keyword2{color:#03f}
.idl_keyword3{color:#3066ac}
.idl_keyword4{color:#36c}
.idl_function,.idl_markup{color:navy}
.idl_operator{color:#7f0055}
.idl_label{color:olive}
.idl_digit{color:red}
.idl_comment1{color:#3f7f5f}
.idl_comment2{color:#999}
.idl_comment3{color:#3f5fbf}
.idl_comment4{color:navy}
.idl_literal1{color:#2a00ff}
.idl_literal2{color:teal}
.inform_keyword1{color:#7f0055}
.inform_keyword2{color:#03f}
.inform_keyword3{color:#3066ac}
.inform_keyword4{color:#36c}
.inform_function,.inform_markup{color:navy}
.inform_operator{color:#7f0055}
.inform_label{color:olive}
.inform_digit{color:red}
.inform_comment1{color:#3f7f5f}
.inform_comment2{color:#999}
.inform_comment3{color:#3f5fbf}
.inform_comment4{color:navy}
.inform_literal1{color:#2a00ff}
.inform_literal2{color:teal}
.ini_keyword1{color:#7f0055}
.ini_keyword2{color:#03f}
.ini_keyword3{color:#3066ac}
.ini_keyword4{color:#36c}
.ini_function,.ini_markup{color:navy}
.ini_operator{color:#7f0055}
.ini_label{color:olive}
.ini_digit{color:red}
.ini_comment1{color:#3f7f5f}
.ini_comment2{color:#999}
.ini_comment3{color:#3f5fbf}
.ini_comment4{color:navy}
.ini_literal1{color:#2a00ff}
.ini_literal2{color:teal}
.inno-setup_keyword1{color:#7f0055}
.inno-setup_keyword2{color:#03f}
.inno-setup_keyword3{color:#3066ac}
.inno-setup_keyword4{color:#36c}
.inno-setup_function,.inno-setup_markup{color:navy}
.inno-setup_operator{color:#7f0055}
.inno-setup_label{color:olive}
.inno-setup_digit{color:red}
.inno-setup_comment1{color:#3f7f5f}
.inno-setup_comment2{color:#999}
.inno-setup_comment3{color:#3f5fbf}
.inno-setup_comment4{color:navy}
.inno-setup_literal1{color:#2a00ff}
.inno-setup_literal2{color:teal}
.interlis_keyword1{color:#7f0055}
.interlis_keyword2{color:#03f}
.interlis_keyword3{color:#3066ac}
.interlis_keyword4{color:#36c}
.interlis_function,.interlis_markup{color:navy}
.interlis_operator{color:#7f0055}
.interlis_label{color:olive}
.interlis_digit{color:red}
.interlis_comment1{color:#3f7f5f}
.interlis_comment2{color:#999}
.interlis_comment3{color:#3f5fbf}
.interlis_comment4{color:navy}
.interlis_literal1{color:#2a00ff}
.interlis_literal2{color:teal}
.io_keyword1{color:#7f0055}
.io_keyword2{color:#03f}
.io_keyword3{color:#3066ac}
.io_keyword4{color:#36c}
.io_function,.io_markup{color:navy}
.io_operator{color:#7f0055}
.io_label{color:olive}
.io_digit{color:red}
.io_comment1{color:#3f7f5f}
.io_comment2{color:#999}
.io_comment3{color:#3f5fbf}
.io_comment4{color:navy}
.io_literal1{color:#2a00ff}
.io_literal2{color:teal}
.java_keyword1{font-weight:700;color:#7f0055}
.java_keyword2{color:#03f}
.java_keyword3{color:#3066ac}
.java_keyword4{color:#36c}
.java_function,.java_markup{color:navy}
.java_operator{color:#7f0055}
.java_label{color:#36c;font-weight:700}
.java_digit{color:red}
.java_comment1{color:#3f7f5f}
.java_comment2{color:#999}
.java_comment3{color:#3f5fbf}
.java_comment4{color:navy}
.java_literal1{color:#2a00ff}
.java_literal2{color:teal}
.javacc_keyword1{color:#7f0055}
.javacc_keyword2{color:#03f}
.javacc_keyword3{color:#3066ac}
.javacc_keyword4{color:#36c}
.javacc_function,.javacc_markup{color:navy}
.javacc_operator{color:#7f0055}
.javacc_label{color:olive}
.javacc_digit{color:red}
.javacc_comment1{color:#3f7f5f}
.javacc_comment2{color:#999}
.javacc_comment3{color:#3f5fbf}
.javacc_comment4{color:navy}
.javacc_literal1{color:#2a00ff}
.javacc_literal2{color:teal}
.javascript_keyword1{font-weight:700;color:#7f0055}
.javascript_keyword2{color:#03f}
.javascript_keyword3{color:#3066ac}
.javascript_keyword4{color:#36c}
.javascript_function,.javascript_markup{color:navy}
.javascript_operator{color:#7f0055}
.javascript_label{color:olive}
.javascript_digit{color:red}
.javascript_comment1{color:#3f7f5f}
.javascript_comment2{color:#999}
.javascript_comment3{color:#3f5fbf}
.javascript_comment4{color:navy}
.javascript_literal1{color:red}
.javascript_literal2{color:teal}
.jcl_keyword1{color:#7f0055}
.jcl_keyword2{color:#03f}
.jcl_keyword3{color:#3066ac}
.jcl_keyword4{color:#36c}
.jcl_function,.jcl_markup{color:navy}
.jcl_operator{color:#7f0055}
.jcl_label{color:olive}
.jcl_digit{color:red}
.jcl_comment1{color:#3f7f5f}
.jcl_comment2{color:#999}
.jcl_comment3{color:#3f5fbf}
.jcl_comment4{color:navy}
.jcl_literal1{color:#2a00ff}
.jcl_literal2{color:teal}
.jhtml_keyword1{color:#7f0055}
.jhtml_keyword2{color:#03f}
.jhtml_keyword3{color:#3066ac}
.jhtml_keyword4{color:#36c}
.jhtml_function,.jhtml_markup{color:navy}
.jhtml_operator{color:#7f0055}
.jhtml_label{color:olive}
.jhtml_digit{color:red}
.jhtml_comment1{color:#3f7f5f}
.jhtml_comment2{color:#999}
.jhtml_comment3{color:#3f5fbf}
.jhtml_comment4{color:navy}
.jhtml_literal1{color:red}
.jhtml_literal2{color:teal}
.jmk_keyword1{color:#7f0055}
.jmk_keyword2{color:#03f}
.jmk_keyword3{color:#3066ac}
.jmk_keyword4{color:#36c}
.jmk_function,.jmk_markup{color:navy}
.jmk_operator{color:#7f0055}
.jmk_label{color:olive}
.jmk_digit{color:red}
.jmk_comment1{color:#3f7f5f}
.jmk_comment2{color:#999}
.jmk_comment3{color:#3f5fbf}
.jmk_comment4{color:navy}
.jmk_literal1{color:#2a00ff}
.jmk_literal2{color:teal}
.jsp_keyword1{color:#7f0055}
.jsp_keyword2{color:#03f}
.jsp_keyword3{color:#3066ac}
.jsp_keyword4{color:#36c}
.jsp_function,.jsp_markup{color:navy}
.jsp_operator{color:#7f0055}
.jsp_label{color:olive}
.jsp_digit{color:red}
.jsp_comment1{color:#3f7f5f}
.jsp_comment2{color:#999}
.jsp_comment3{color:#3f5fbf}
.jsp_comment4{color:navy}
.jsp_literal1{color:#2a00ff}
.jsp_literal2{color:teal}
.jsx_keyword1{font-weight:700;color:#7f0055}
.jsx_keyword2{color:#03f}
.jsx_keyword3{color:#3066ac}
.jsx_keyword4{color:#36c}
.jsx_function,.jsx_markup{color:navy}
.jsx_operator{color:#7f0055}
.jsx_label{color:olive}
.jsx_digit{color:red}
.jsx_comment1{color:#3f7f5f}
.jsx_comment2{color:#999}
.jsx_comment3{color:#3f5fbf}
.jsx_comment4{color:navy}
.jsx_literal1{color:red}
.jsx_literal2{color:teal}
.jsx_literal3{color:#0080ff}
.latex_comment1{color:#606060}
.latex_digit{color:#660066}
.latex_keyword1{color:#880000}
.latex_keyword2{color:#000088;font-weight:bold}
.latex_keyword3{color:#006699}
.latex_literal1{color:#008000}
.latex_literal2{color:#9a4d00}
.lilypond_keyword1{color:#7f0055}
.lilypond_keyword2{color:#03f}
.lilypond_keyword3{color:#3066ac}
.lilypond_keyword4{color:#36c}
.lilypond_function,.lilypond_markup{color:navy}
.lilypond_operator{color:#7f0055}
.lilypond_label{color:olive}
.lilypond_digit{color:red}
.lilypond_comment1{color:#3f7f5f}
.lilypond_comment2{color:#999}
.lilypond_comment3{color:#3f5fbf}
.lilypond_comment4{color:navy}
.lilypond_literal1{color:#2a00ff}
.lilypond_literal2{color:teal}
.lisp_keyword1{color:#7f0055}
.lisp_keyword2{color:#03f}
.lisp_keyword3{color:#3066ac}
.lisp_keyword4{color:#36c}
.lisp_function,.lisp_markup{color:navy}
.lisp_operator{color:#7f0055}
.lisp_label{color:olive}
.lisp_digit{color:red}
.lisp_comment1{color:#3f7f5f}
.lisp_comment2{color:#999}
.lisp_comment3{color:#3f5fbf}
.lisp_comment4{color:navy}
.lisp_literal1{color:#2a00ff}
.lisp_literal2{color:teal}
.literate-haskell_keyword1{color:#7f0055}
.literate-haskell_keyword2{color:#03f}
.literate-haskell_keyword3{color:#3066ac}
.literate-haskell_keyword4{color:#36c}
.literate-haskell_function,.literate-haskell_markup{color:navy}
.literate-haskell_operator{color:#7f0055}
.literate-haskell_label{color:olive}
.literate-haskell_digit{color:red}
.literate-haskell_comment1{color:#3f7f5f}
.literate-haskell_comment2{color:#999}
.literate-haskell_comment3{color:#3f5fbf}
.literate-haskell_comment4{color:navy}
.literate-haskell_literal1{color:#2a00ff}
.literate-haskell_literal2{color:teal}
.lotos_keyword1{color:#7f0055}
.lotos_keyword2{color:#03f}
.lotos_keyword3{color:#3066ac}
.lotos_keyword4{color:#36c}
.lotos_function,.lotos_markup{color:navy}
.lotos_operator{color:#7f0055}
.lotos_label{color:olive}
.lotos_digit{color:red}
.lotos_comment1{color:#3f7f5f}
.lotos_comment2{color:#999}
.lotos_comment3{color:#3f5fbf}
.lotos_comment4{color:navy}
.lotos_literal1{color:#2a00ff}
.lotos_literal2{color:teal}
.lua_keyword1{color:#0000FF; font-weight:bold}   /* Mots cles reserves */
.lua_keyword2{color:#2089DF; font-weight:bold; font-style:italic}  /* Fonctions de base */
.lua_keyword3{color:#A10684; font-weight:bold; font-style:italic}  /* Fonctions string.xx, table.xx et math.xx */
.lua_keyword4{color:#0000A0; font-weight:bold; font-style:italic}  /* Fonctions inOut.xx et os.xx plus coroutine.xx et debug.xx*/
.lua_operator{color:red; font-weight:bold}      /* Opérateurs */
.lua_digit {color:#ED7F10; font-weight:bold}   /* Chiffres */
.lua_comment1{color:#008000; font-style:italic}  /* Commentaires sur une ligne */
.lua_comment2{color:#008000}   /* Commentaires sur plusieurs lignes */
.lua_literal1{color:#808080}   /* Chaines de caracteres classiques */
.lua_literal2{color:#A10684}   /* Grandes chaines de caracteres sur plusieurs lignes */
.mail_keyword1{color:#7f0055}
.mail_keyword2{color:#03f}
.mail_keyword3{color:#3066ac}
.mail_keyword4{color:#36c}
.mail_function,.mail_markup{color:navy}
.mail_operator{color:#7f0055}
.mail_label{color:olive}
.mail_digit{color:red}
.mail_comment1{color:#3f7f5f}
.mail_comment2{color:#999}
.mail_comment3{color:#3f5fbf}
.mail_comment4{color:navy}
.mail_literal1{color:#2a00ff}
.mail_literal2{color:teal}
.makefile_keyword1{color:#7f0055}
.makefile_keyword2{color:#03f}
.makefile_keyword3{color:#3066ac}
.makefile_keyword4{color:#36c}
.makefile_function,.makefile_markup{color:navy}
.makefile_operator{color:#7f0055}
.makefile_label{color:olive}
.makefile_digit{color:red}
.makefile_comment1{color:#3f7f5f}
.makefile_comment2{color:#999}
.makefile_comment3{color:#3f5fbf}
.makefile_comment4{color:navy}
.makefile_literal1{color:#2a00ff}
.makefile_literal2{color:teal}
.maple_keyword1{color:#7f0055}
.maple_keyword2{color:#03f}
.maple_keyword3{color:#3066ac}
.maple_keyword4{color:#36c}
.maple_function,.maple_markup{color:navy}
.maple_operator{color:#7f0055}
.maple_label{color:olive}
.maple_digit{color:red}
.maple_comment1{color:#3f7f5f}
.maple_comment2{color:#999}
.maple_comment3{color:#3f5fbf}
.maple_comment4{color:navy}
.maple_literal1{color:#2a00ff}
.maple_literal2{color:teal}
.matlab_keyword1{color:#00f}
.matlab_keyword2{color:#00f}
.matlab_comment1{color:#228b22;font-weight:700}
.matlab_comment2{color:#228b22}
.matlab_literal1{color:#b28c00}
.matlab_literal2{color:#ff6400}
.matlab_literal3{color:red}
.matlab_literal4{color:#a020f0}
.ml_keyword1{color:#7f0055}
.ml_keyword2{color:#03f}
.ml_keyword3{color:#3066ac}
.ml_keyword4{color:#36c}
.ml_function,.ml_markup{color:navy}
.ml_operator{color:#7f0055}
.ml_label{color:olive}
.ml_digit{color:red}
.ml_comment1{color:#3f7f5f}
.ml_comment2{color:#999}
.ml_comment3{color:#3f5fbf}
.ml_comment4{color:navy}
.ml_literal1{color:#2a00ff}
.ml_literal2{color:teal}
.modula3_keyword1{color:#7f0055}
.modula3_keyword2{color:#03f}
.modula3_keyword3{color:#3066ac}
.modula3_keyword4{color:#36c}
.modula3_function,.modula3_markup{color:navy}
.modula3_operator{color:#7f0055}
.modula3_label{color:olive}
.modula3_digit{color:red}
.modula3_comment1{color:#3f7f5f}
.modula3_comment2{color:#999}
.modula3_comment3{color:#3f5fbf}
.modula3_comment4{color:navy}
.modula3_literal1{color:#2a00ff}
.modula3_literal2{color:teal}
.moin_keyword1{color:#7f0055}
.moin_keyword2{color:#03f}
.moin_keyword3{color:#3066ac}
.moin_keyword4{color:#36c}
.moin_function,.moin_markup{color:navy}
.moin_operator{color:#7f0055}
.moin_label{color:olive}
.moin_digit{color:red}
.moin_comment1{color:#3f7f5f}
.moin_comment2{color:#999}
.moin_comment3{color:#3f5fbf}
.moin_comment4{color:navy}
.moin_literal1{color:#2a00ff}
.moin_literal2{color:teal}
.mqsc_keyword1{color:#7f0055}
.mqsc_keyword2{color:#03f}
.mqsc_keyword3{color:#3066ac}
.mqsc_keyword4{color:#36c}
.mqsc_function,.mqsc_markup{color:navy}
.mqsc_operator{color:#7f0055}
.mqsc_label{color:olive}
.mqsc_digit{color:red}
.mqsc_comment1{color:#3f7f5f}
.mqsc_comment2{color:#999}
.mqsc_comment3{color:#3f5fbf}
.mqsc_comment4{color:navy}
.mqsc_literal1{color:#2a00ff}
.mqsc_literal2{color:teal}
.myghty_keyword1{color:#7f0055}
.myghty_keyword2{color:#03f}
.myghty_keyword3{color:#3066ac}
.myghty_keyword4{color:#36c}
.myghty_function,.myghty_markup{color:navy}
.myghty_operator{color:#7f0055}
.myghty_label{color:olive}
.myghty_digit{color:red}
.myghty_comment1{color:#3f7f5f}
.myghty_comment2{color:#999}
.myghty_comment3{color:#3f5fbf}
.myghty_comment4{color:navy}
.myghty_literal1{color:#2a00ff}
.myghty_literal2{color:teal}
.netrexx_keyword1{color:#7f0055}
.netrexx_keyword2{color:#03f}
.netrexx_keyword3{color:#3066ac}
.netrexx_keyword4{color:#36c}
.netrexx_function,.netrexx_markup{color:navy}
.netrexx_operator{color:#7f0055}
.netrexx_label{color:olive}
.netrexx_digit{color:red}
.netrexx_comment1{color:#3f7f5f}
.netrexx_comment2{color:#999}
.netrexx_comment3{color:#3f5fbf}
.netrexx_comment4{color:navy}
.netrexx_literal1{color:#2a00ff}
.netrexx_literal2{color:teal}
.nqc_keyword1{color:#7f0055}
.nqc_keyword2{color:#03f}
.nqc_keyword3{color:#3066ac}
.nqc_keyword4{color:#36c}
.nqc_function,.nqc_markup{color:navy}
.nqc_operator{color:#7f0055}
.nqc_label{color:olive}
.nqc_digit{color:red}
.nqc_comment1{color:#3f7f5f}
.nqc_comment2{color:#999}
.nqc_comment3{color:#3f5fbf}
.nqc_comment4{color:navy}
.nqc_literal1{color:#2a00ff}
.nqc_literal2{color:teal}
.nsis2_keyword1{color:#7f0055}
.nsis2_keyword2{color:#03f}
.nsis2_keyword3{color:#3066ac}
.nsis2_keyword4{color:#36c}
.nsis2_function,.nsis2_markup{color:navy}
.nsis2_operator{color:#7f0055}
.nsis2_label{color:olive}
.nsis2_digit{color:red}
.nsis2_comment1{color:#3f7f5f}
.nsis2_comment2{color:#999}
.nsis2_comment3{color:#3f5fbf}
.nsis2_comment4{color:navy}
.nsis2_literal1{color:#2a00ff}
.nsis2_literal2{color:teal}
.obasic_operator{color:#000080;}
.obasic_keyword1{color:#000080;}
.obasic_literal1{color:#008000;}
.obasic_literal2{color:#FF0000;}
.obasic_comment1{color:#808080;}
.obasic_digit{color:#FF0000;}
.objective-c_keyword1{color:#7f0055}
.objective-c_keyword2{color:#03f}
.objective-c_keyword3{color:#3066ac}
.objective-c_keyword4{color:#36c}
.objective-c_function,.objective-c_markup{color:navy}
.objective-c_operator{color:#7f0055}
.objective-c_label{color:olive}
.objective-c_digit{color:red}
.objective-c_comment1{color:#3f7f5f}
.objective-c_comment2{color:#999}
.objective-c_comment3{color:#3f5fbf}
.objective-c_comment4{color:navy}
.objective-c_literal1{color:#2a00ff}
.objective-c_literal2{color:teal}
.objectrexx_keyword1{color:#7f0055}
.objectrexx_keyword2{color:#03f}
.objectrexx_keyword3{color:#3066ac}
.objectrexx_keyword4{color:#36c}
.objectrexx_function,.objectrexx_markup{color:navy}
.objectrexx_operator{color:#7f0055}
.objectrexx_label{color:olive}
.objectrexx_digit{color:red}
.objectrexx_comment1{color:#3f7f5f}
.objectrexx_comment2{color:#999}
.objectrexx_comment3{color:#3f5fbf}
.objectrexx_comment4{color:navy}
.objectrexx_literal1{color:#2a00ff}
.objectrexx_literal2{color:teal}
.ocaml_keyword1{color:#7f0055}
.ocaml_keyword2{color:#03f}
.ocaml_keyword3{color:#3066ac}
.ocaml_keyword4{color:#36c}
.ocaml_function,.ocaml_markup{color:navy}
.ocaml_operator{color:#7f0055}
.ocaml_label{color:olive}
.ocaml_digit{color:red}
.ocaml_comment1{color:#3f7f5f}
.ocaml_comment2{color:#999}
.ocaml_comment3{color:#3f5fbf}
.ocaml_comment4{color:navy}
.ocaml_literal1{color:#2a00ff}
.ocaml_literal2{color:teal}
.occam_keyword1{color:#7f0055}
.occam_keyword2{color:#03f}
.occam_keyword3{color:#3066ac}
.occam_keyword4{color:#36c}
.occam_function,.occam_markup{color:navy}
.occam_operator{color:#7f0055}
.occam_label{color:olive}
.occam_digit{color:red}
.occam_comment1{color:#3f7f5f}
.occam_comment2{color:#999}
.occam_comment3{color:#3f5fbf}
.occam_comment4{color:navy}
.occam_literal1{color:#2a00ff}
.occam_literal2{color:teal}
.omnimark_keyword1{color:#7f0055}
.omnimark_keyword2{color:#03f}
.omnimark_keyword3{color:#3066ac}
.omnimark_keyword4{color:#36c}
.omnimark_function,.omnimark_markup{color:navy}
.omnimark_operator{color:#7f0055}
.omnimark_label{color:olive}
.omnimark_digit{color:red}
.omnimark_comment1{color:#3f7f5f}
.omnimark_comment2{color:#999}
.omnimark_comment3{color:#3f5fbf}
.omnimark_comment4{color:navy}
.omnimark_literal1{color:#2a00ff}
.omnimark_literal2{color:teal}
.pascal_keyword1{color:#7f0055}
.pascal_keyword2{color:#03f}
.pascal_keyword3{color:#3066ac}
.pascal_keyword4{color:#36c}
.pascal_function,.pascal_markup{color:navy}
.pascal_operator{color:#7f0055}
.pascal_label{color:olive}
.pascal_digit{color:red}
.pascal_comment1{font-style:italic;color:navy}
.pascal_comment2{color:#999}
.pascal_comment3{color:#3f5fbf}
.pascal_comment4{color:navy}
.pascal_literal1{color:#2a00ff}
.pascal_literal2{color:teal}
.patch_keyword1{color:#7f0055}
.patch_keyword2{color:#03f}
.patch_keyword3{color:#3066ac}
.patch_keyword4{color:#36c}
.patch_function,.patch_markup{color:navy}
.patch_operator{color:#7f0055}
.patch_label{color:olive}
.patch_digit{color:red}
.patch_comment1{color:#3f7f5f}
.patch_comment2{color:#999}
.patch_comment3{color:#3f5fbf}
.patch_comment4{color:navy}
.patch_literal1{color:#2a00ff}
.patch_literal2{color:teal}
.perl_keyword1{color:#7f0055}
.perl_keyword2{color:#03f}
.perl_keyword3{color:#3066ac}
.perl_keyword4{color:#36c}
.perl_function,.perl_markup{color:navy}
.perl_operator{color:#7f0055}
.perl_label{color:olive}
.perl_digit{color:red}
.perl_comment1{color:#3f7f5f}
.perl_comment2{color:#999}
.perl_comment3{color:#3f5fbf}
.perl_comment4{color:navy}
.perl_literal1{color:#2a00ff}
.perl_literal2{color:teal}
.perl_literal3{color:#cc5599}
.perl-uniligne_literal1{color:#ff0000}
.perl-uniligne_comment1{color:#999}
.php_keyword1,.php_mixte_keyword1{color:#000;font-weight:700}
.php_keyword2,.php_mixte_keyword2{color:navy}
.php_keyword3,.php_mixte_keyword3{color:#939}
.php_keyword4,.php_mixte_keyword4{color:#939}
.php_function,.php_mixte_function{color:navy;text-decoration:none}
.php_markup,.php_mixte_markup{color:navy}
.php_operator,.php_mixte_operator{color:#000}
.php_label,.php_mixte_label{color:olive}
.php_digit,.php_mixte_digit{color:red}
.php_comment1,.php_mixte_comment1{color:#999}
.php_comment2,.php_mixte_comment2{color:#999}
.php_comment3,.php_mixte_comment3{color:#999}
.php_comment4,.php_mixte_comment4{color:#999}
.php_literal1,.php_mixte_literal1{color:red}
.php_literal2,.php_mixte_literal2{color:teal}
.php_literal3,.php_mixte_literal3{color:red}
.pike_keyword1{color:#7f0055}
.pike_keyword2{color:#03f}
.pike_keyword3{color:#3066ac}
.pike_keyword4{color:#36c}
.pike_function,.pike_markup{color:navy}
.pike_operator{color:#7f0055}
.pike_label{color:olive}
.pike_digit{color:red}
.pike_comment1{color:#3f7f5f}
.pike_comment2{color:#999}
.pike_comment3{color:#3f5fbf}
.pike_comment4{color:navy}
.pike_literal1{color:#2a00ff}
.pike_literal2{color:teal}
.pl-sql_keyword1{color:#7f0055}
.pl-sql_keyword2{color:#03f}
.pl-sql_keyword3{color:#3066ac}
.pl-sql_keyword4{color:#36c}
.pl-sql_function,.pl-sql_markup{color:navy}
.pl-sql_operator{color:#7f0055}
.pl-sql_label{color:olive}
.pl-sql_digit{color:red}
.pl-sql_comment1{color:#3f7f5f}
.pl-sql_comment2{color:#999}
.pl-sql_comment3{color:#3f5fbf}
.pl-sql_comment4{color:navy}
.pl-sql_literal1{color:#2a00ff}
.pl-sql_literal2{color:teal}
.pl1_keyword1{color:#7f0055}
.pl1_keyword2{color:#03f}
.pl1_keyword3{color:#3066ac}
.pl1_keyword4{color:#36c}
.pl1_function,.pl1_markup{color:navy}
.pl1_operator{color:#7f0055}
.pl1_label{color:olive}
.pl1_digit{color:red}
.pl1_comment1{color:#3f7f5f}
.pl1_comment2{color:#999}
.pl1_comment3{color:#3f5fbf}
.pl1_comment4{color:navy}
.pl1_literal1{color:#2a00ff}
.pl1_literal2{color:teal}
.pop11_keyword1{color:#7f0055}
.pop11_keyword2{color:#03f}
.pop11_keyword3{color:#3066ac}
.pop11_keyword4{color:#36c}
.pop11_function,.pop11_markup{color:navy}
.pop11_operator{color:#7f0055}
.pop11_label{color:olive}
.pop11_digit{color:red}
.pop11_comment1{color:#3f7f5f}
.pop11_comment2{color:#999}
.pop11_comment3{color:#3f5fbf}
.pop11_comment4{color:navy}
.pop11_literal1{color:#2a00ff}
.pop11_literal2{color:teal}
.postscript_keyword1{color:#7f0055}
.postscript_keyword2{color:#03f}
.postscript_keyword3{color:#3066ac}
.postscript_keyword4{color:#36c}
.postscript_function,.postscript_markup{color:navy}
.postscript_operator{color:#7f0055}
.postscript_label{color:olive}
.postscript_digit{color:red}
.postscript_comment1{color:#3f7f5f}
.postscript_comment2{color:#999}
.postscript_comment3{color:#3f5fbf}
.postscript_comment4{color:navy}
.postscript_literal1{color:#2a00ff}
.postscript_literal2{color:teal}
.povray_keyword1{color:#7f0055}
.povray_keyword2{color:#03f}
.povray_keyword3{color:#3066ac}
.povray_keyword4{color:#36c}
.povray_function,.povray_markup{color:navy}
.povray_operator{color:#7f0055}
.povray_label{color:olive}
.povray_digit{color:red}
.povray_comment1{color:#3f7f5f}
.povray_comment2{color:#999}
.povray_comment3{color:#3f5fbf}
.povray_comment4{color:navy}
.povray_literal1{color:#2a00ff}
.povray_literal2{color:teal}
.powerdynamo_keyword1{color:#7f0055}
.powerdynamo_keyword2{color:#03f}
.powerdynamo_keyword3{color:#3066ac}
.powerdynamo_keyword4{color:#36c}
.powerdynamo_function,.powerdynamo_markup{color:navy}
.powerdynamo_operator{color:#7f0055}
.powerdynamo_label{color:olive}
.powerdynamo_digit{color:red}
.powerdynamo_comment1{color:#3f7f5f}
.powerdynamo_comment2{color:#999}
.powerdynamo_comment3{color:#3f5fbf}
.powerdynamo_comment4{color:navy}
.powerdynamo_literal1{color:#2a00ff}
.powerdynamo_literal2{color:teal}
.progress_keyword1{color:#7f0055}
.progress_keyword2{color:#03f}
.progress_keyword3{color:#3066ac}
.progress_keyword4{color:#36c}
.progress_function,.progress_markup{color:navy}
.progress_operator{color:#7f0055}
.progress_label{color:olive}
.progress_digit{color:red}
.progress_comment1{color:#3f7f5f}
.progress_comment2{color:#999}
.progress_comment3{color:#3f5fbf}
.progress_comment4{color:navy}
.progress_literal1{color:#2a00ff}
.progress_literal2{color:teal}
.prolog_keyword1{color:#7f0055}
.prolog_keyword2{color:#03f}
.prolog_keyword3{color:#3066ac}
.prolog_keyword4{color:#36c}
.prolog_function,.prolog_markup{color:navy}
.prolog_operator{color:#7f0055}
.prolog_label{color:olive}
.prolog_digit{color:red}
.prolog_comment1{color:#3f7f5f}
.prolog_comment2{color:#999}
.prolog_comment3{color:#3f5fbf}
.prolog_comment4{color:navy}
.prolog_literal1{color:#2a00ff}
.prolog_literal2{color:teal}
.props_keyword1{color:#7f0055}
.props_keyword2{color:#03f}
.props_keyword3{color:#3066ac}
.props_keyword4{color:#36c}
.props_function,.props_markup{color:navy}
.props_operator{color:#7f0055}
.props_label{color:olive}
.props_digit{color:red}
.props_comment1{color:#3f7f5f}
.props_comment2{color:#999}
.props_comment3{color:#3f5fbf}
.props_comment4{color:navy}
.props_literal1{color:#2a00ff}
.props_literal2{color:teal}
.psp_keyword1{color:#7f0055}
.psp_keyword2{color:#03f}
.psp_keyword3{color:#3066ac}
.psp_keyword4{color:#36c}
.psp_function,.psp_markup{color:navy}
.psp_operator{color:#7f0055}
.psp_label{color:olive}
.psp_digit{color:red}
.psp_comment1{color:#3f7f5f}
.psp_comment2{color:#999}
.psp_comment3{color:#3f5fbf}
.psp_comment4{color:navy}
.psp_literal1{color:#2a00ff}
.psp_literal2{color:teal}
.ptl_keyword1{color:#7f0055}
.ptl_keyword2{color:#03f}
.ptl_keyword3{color:#3066ac}
.ptl_keyword4{color:#36c}
.ptl_function,.ptl_markup{color:navy}
.ptl_operator{color:#7f0055}
.ptl_label{color:olive}
.ptl_digit{color:red}
.ptl_comment1{color:#3f7f5f}
.ptl_comment2{color:#999}
.ptl_comment3{color:#3f5fbf}
.ptl_comment4{color:navy}
.ptl_literal1{color:#2a00ff}
.ptl_literal2{color:teal}
.pvwave_keyword1{color:#7f0055}
.pvwave_keyword2{color:#03f}
.pvwave_keyword3{color:#3066ac}
.pvwave_keyword4{color:#36c}
.pvwave_function,.pvwave_markup{color:navy}
.pvwave_operator{color:#7f0055}
.pvwave_label{color:olive}
.pvwave_digit{color:red}
.pvwave_comment1{color:#3f7f5f}
.pvwave_comment2{color:#999}
.pvwave_comment3{color:#3f5fbf}
.pvwave_comment4{color:navy}
.pvwave_literal1{color:#2a00ff}
.pvwave_literal2{color:teal}
.pyrex_keyword1{color:#7f0055}
.pyrex_keyword2{color:#03f}
.pyrex_keyword3{color:#3066ac}
.pyrex_keyword4{color:#36c}
.pyrex_function,.pyrex_markup{color:navy}
.pyrex_operator{color:#7f0055}
.pyrex_label{color:olive}
.pyrex_digit{color:red}
.pyrex_comment1{color:#3f7f5f}
.pyrex_comment2{color:#999}
.pyrex_comment3{color:#3f5fbf}
.pyrex_comment4{color:navy}
.pyrex_literal1{color:#2a00ff}
.pyrex_literal2{color:teal}
.python_keyword1{color:#ff8040}
.python_keyword2{color:#03f}
.python_keyword3{color:#3066ac}
.python_keyword4{color:#36c}
.python_function,.python_markup{color:navy}
.python_operator{color:#7f0055}
.python_label{color:olive}
.python_digit{color:red}
.python_comment1{color:#999}
.python_comment2{color:#999}
.python_comment3{color:#999}
.python_comment4{color:#999}
.python_literal1{color:#393}
.python_literal2{color:teal}
.python_literal4{color:#660099}
.r_digit{color:#FF6600}
.r_literal1{color:#FF0000}
.r_literal2{color:#0000FF;font-weight:bold}
.r_comment1{color:#228B22}
.r_operator{color:#008800}
.r_keyword1{color:#0000FF;font-weight:bold}
.r_keyword2{color:#0000FF}
.r_keyword3{color:#B007FF;font-weight:bold}
.rd_keyword1{color:#7f0055}
.rd_keyword2{color:#03f}
.rd_keyword3{color:#3066ac}
.rd_keyword4{color:#36c}
.rd_function,.rd_markup{color:navy}
.rd_operator{color:#7f0055}
.rd_label{color:olive}
.rd_digit{color:red}
.rd_comment1{color:#3f7f5f}
.rd_comment2{color:#999}
.rd_comment3{color:#3f5fbf}
.rd_comment4{color:navy}
.rd_literal1{color:#2a00ff}
.rd_literal2{color:teal}
.rebol_keyword1{color:#7f0055}
.rebol_keyword2{color:#03f}
.rebol_keyword3{color:#3066ac}
.rebol_keyword4{color:#36c}
.rebol_function,.rebol_markup{color:navy}
.rebol_operator{color:#7f0055}
.rebol_label{color:olive}
.rebol_digit{color:red}
.rebol_comment1{color:#3f7f5f}
.rebol_comment2{color:#999}
.rebol_comment3{color:#3f5fbf}
.rebol_comment4{color:navy}
.rebol_literal1{color:#2a00ff}
.rebol_literal2{color:teal}
.redcode_keyword1{color:#7f0055}
.redcode_keyword2{color:#03f}
.redcode_keyword3{color:#3066ac}
.redcode_keyword4{color:#36c}
.redcode_function,.redcode_markup{color:navy}
.redcode_operator{color:#7f0055}
.redcode_label{color:olive}
.redcode_digit{color:red}
.redcode_comment1{color:#3f7f5f}
.redcode_comment2{color:#999}
.redcode_comment3{color:#3f5fbf}
.redcode_comment4{color:navy}
.redcode_literal1{color:#2a00ff}
.redcode_literal2{color:teal}
.relax-ng-compact_keyword1{color:#7f0055}
.relax-ng-compact_keyword2{color:#03f}
.relax-ng-compact_keyword3{color:#3066ac}
.relax-ng-compact_keyword4{color:#36c}
.relax-ng-compact_function,.relax-ng-compact_markup{color:navy}
.relax-ng-compact_operator{color:#7f0055}
.relax-ng-compact_label{color:olive}
.relax-ng-compact_digit{color:red}
.relax-ng-compact_comment1{color:#3f7f5f}
.relax-ng-compact_comment2{color:#999}
.relax-ng-compact_comment3{color:#3f5fbf}
.relax-ng-compact_comment4{color:navy}
.relax-ng-compact_literal1{color:#2a00ff}
.relax-ng-compact_literal2{color:teal}
.rest_keyword1{color:#7f0055}
.rest_keyword2{color:#03f}
.rest_keyword3{color:#3066ac}
.rest_keyword4{color:#36c}
.rest_function,.rest_markup{color:navy}
.rest_operator{color:#7f0055}
.rest_label{color:olive}
.rest_digit{color:red}
.rest_comment1{color:#3f7f5f}
.rest_comment2{color:#999}
.rest_comment3{color:#3f5fbf}
.rest_comment4{color:navy}
.rest_literal1{color:#2a00ff}
.rest_literal2{color:teal}
.rhtml_keyword1{color:#7f0055}
.rhtml_keyword2{color:#03f}
.rhtml_keyword3{color:#3066ac}
.rhtml_keyword4{color:#36c}
.rhtml_function,.rhtml_markup{color:navy}
.rhtml_operator{color:#7f0055}
.rhtml_label{color:olive}
.rhtml_digit{color:red}
.rhtml_comment1{color:#3f7f5f}
.rhtml_comment2{color:#999}
.rhtml_comment3{color:#3f5fbf}
.rhtml_comment4{color:navy}
.rhtml_literal1{color:#2a00ff}
.rhtml_literal2{color:teal}
.rib_keyword1{color:#7f0055}
.rib_keyword2{color:#03f}
.rib_keyword3{color:#3066ac}
.rib_keyword4{color:#36c}
.rib_function,.rib_markup{color:navy}
.rib_operator{color:#7f0055}
.rib_label{color:olive}
.rib_digit{color:red}
.rib_comment1{color:#3f7f5f}
.rib_comment2{color:#999}
.rib_comment3{color:#3f5fbf}
.rib_comment4{color:navy}
.rib_literal1{color:#2a00ff}
.rib_literal2{color:teal}
.rpmspec_keyword1{color:#7f0055}
.rpmspec_keyword2{color:#03f}
.rpmspec_keyword3{color:#3066ac}
.rpmspec_keyword4{color:#36c}
.rpmspec_function,.rpmspec_markup{color:navy}
.rpmspec_operator{color:#7f0055}
.rpmspec_label{color:olive}
.rpmspec_digit{color:red}
.rpmspec_comment1{color:#3f7f5f}
.rpmspec_comment2{color:#999}
.rpmspec_comment3{color:#3f5fbf}
.rpmspec_comment4{color:navy}
.rpmspec_literal1{color:#2a00ff}
.rpmspec_literal2{color:teal}
.rtf_keyword1{color:#7f0055}
.rtf_keyword2{color:#03f}
.rtf_keyword3{color:#3066ac}
.rtf_keyword4{color:#36c}
.rtf_function,.rtf_markup{color:navy}
.rtf_operator{color:#7f0055}
.rtf_label{color:olive}
.rtf_digit{color:red}
.rtf_comment1{color:#3f7f5f}
.rtf_comment2{color:#999}
.rtf_comment3{color:#3f5fbf}
.rtf_comment4{color:navy}
.rtf_literal1{color:#2a00ff}
.rtf_literal2{color:teal}
.ruby_keyword1{color:#7f0055}
.ruby_keyword2{color:#03f}
.ruby_keyword3{color:#3066ac}
.ruby_keyword4{color:#36c}
.ruby_function,.ruby_markup{color:navy}
.ruby_operator{color:#7f0055}
.ruby_label{color:olive}
.ruby_digit{color:red}
.ruby_comment1{color:#3f7f5f}
.ruby_comment2{color:#999}
.ruby_comment3{color:#3f5fbf}
.ruby_comment4{color:navy}
.ruby_literal1{color:#2a00ff}
.ruby_literal2{color:teal}
.rust_keyword1{color:#8959a8}
.rust_keyword2{color:#c82829}
.rust_keyword3{color:#4271ae}
.rust_keyword4{color:#4271ae}
.rust_literal1{color:#718c00}
.rust_literal2{color:#b76514}
.rust_literal3{color:#c82829}
.rust_literal4{color:#718cff}
.rust_function{color:#3e999f}
.rust_operator{color:#4271ae}
.rust_digit{color:#718c00}
.rust_comment1{color:#8e908c}
.rust_comment2{color:#4d4d4c}
.rust_comment3{color:navy}
.rview_keyword1{color:#7f0055}
.rview_keyword2{color:#03f}
.rview_keyword3{color:#3066ac}
.rview_keyword4{color:#36c}
.rview_function,.rview_markup{color:navy}
.rview_operator{color:#7f0055}
.rview_label{color:olive}
.rview_digit{color:red}
.rview_comment1{color:#3f7f5f}
.rview_comment2{color:#999}
.rview_comment3{color:#3f5fbf}
.rview_comment4{color:navy}
.rview_literal1{color:#2a00ff}
.rview_literal2{color:teal}
.sas_keyword1{color:#7f0055}
.sas_keyword2{color:#03f}
.sas_keyword3{color:#3066ac}
.sas_keyword4{color:#36c}
.sas_function,.sas_markup{color:navy}
.sas_operator{color:#7f0055}
.sas_label{color:olive}
.sas_digit{color:red}
.sas_comment1{color:#3f7f5f}
.sas_comment2{color:#999}
.sas_comment3{color:#3f5fbf}
.sas_comment4{color:navy}
.sas_literal1{color:#2a00ff}
.sas_literal2{color:teal}
.scheme_keyword1{color:#7f0055}
.scheme_keyword2{color:#03f}
.scheme_keyword3{color:#3066ac}
.scheme_keyword4{color:#36c}
.scheme_function,.scheme_markup{color:navy}
.scheme_operator{color:#7f0055}
.scheme_label{color:olive}
.scheme_digit{color:red}
.scheme_comment1{color:#3f7f5f}
.scheme_comment2{color:#999}
.scheme_comment3{color:#3f5fbf}
.scheme_comment4{color:navy}
.scheme_literal1{color:#2a00ff}
.scheme_literal2{color:teal}
.scilab_literal1{color:#bc8f8f}
.scilab_literal2{color:#B01813}
.scilab_keyword1{color:#A020F0}
.scilab_keyword2{color:#5eaeb0}
.scilab_keyword3{color:#da70d6}
.scilab_keyword4{color:#FF0000}
.scilab_comment1{color:#01A801}
.scilab_operator{color:#FFAA00}
.scilab_digit{color:#bc8f8f}
.scilab_function{color:#32b9b9}
.scss_keyword1{color:#FF803A}
.scss_keyword2{color:#03f}
.scss_keyword3{color:#3066ac}
.scss_keyword4{color:#36c}
.scss_function,.css_markup{color:navy}
.scss_operator{color:#7f0055}
.scss_label{color:olive}
.scss_digit{color:red}
.scss_comment1{color:#3f7f5f}
.scss_comment2{color:#999}
.scss_comment3{color:#3f5fbf}
.scss_comment4{color:navy}
.scss_literal1{color:red}
.scss_literal2{color:teal}
.scss_literal3{color:red}
.scss_literal4{color:#FF803A}
.sdl_pr_keyword1{color:#7f0055}
.sdl_pr_keyword2{color:#03f}
.sdl_pr_keyword3{color:#3066ac}
.sdl_pr_keyword4{color:#36c}
.sdl_pr_function,.sdl_pr_markup{color:navy}
.sdl_pr_operator{color:#7f0055}
.sdl_pr_label{color:olive}
.sdl_pr_digit{color:red}
.sdl_pr_comment1{color:#3f7f5f}
.sdl_pr_comment2{color:#999}
.sdl_pr_comment3{color:#3f5fbf}
.sdl_pr_comment4{color:navy}
.sdl_pr_literal1{color:#2a00ff}
.sdl_pr_literal2{color:teal}
.sgml_keyword1{color:#7f0055}
.sgml_keyword2{color:#03f}
.sgml_keyword3{color:#3066ac}
.sgml_keyword4{color:#36c}
.sgml_function,.sgml_markup{color:navy}
.sgml_operator{color:#7f0055}
.sgml_label{color:olive}
.sgml_digit{color:red}
.sgml_comment1{color:#3f7f5f}
.sgml_comment2{color:#999}
.sgml_comment3{color:#3f5fbf}
.sgml_comment4{color:navy}
.sgml_literal1{color:#2a00ff}
.sgml_literal2{color:teal}
.shellscript_keyword1{color:#000;font-weight:700}
.shellscript_keyword2{color:#000;font-weight:700;font-style:italic}
.shellscript_keyword3{color:#3066ac}
.shellscript_keyword4{color:#36c}
.shellscript_function,.shellscript_markup{color:navy}
.shellscript_operator{color:#7f0055}
.shellscript_label{color:olive}
.shellscript_digit{color:#900}
.shellscript_comment1{color:#999}
.shellscript_comment2{color:#999;font-weight:700}
.shellscript_comment3{color:#3f5fbf}
.shellscript_comment4{color:navy}
.shellscript_literal1{color:green}
.shellscript_literal2{color:teal}
.shtml_keyword1{color:#7f0055}
.shtml_keyword2{color:#03f}
.shtml_keyword3{color:#3066ac}
.shtml_keyword4{color:#36c}
.shtml_function,.shtml_markup{color:navy}
.shtml_operator{color:#7f0055}
.shtml_label{color:olive}
.shtml_digit{color:red}
.shtml_comment1{color:#3f7f5f}
.shtml_comment2{color:#999}
.shtml_comment3{color:#3f5fbf}
.shtml_comment4{color:navy}
.shtml_literal1{color:#2a00ff}
.shtml_literal2{color:teal}
.slate_keyword1{color:#7f0055}
.slate_keyword2{color:#03f}
.slate_keyword3{color:#3066ac}
.slate_keyword4{color:#36c}
.slate_function,.slate_markup{color:navy}
.slate_operator{color:#7f0055}
.slate_label{color:olive}
.slate_digit{color:red}
.slate_comment1{color:#3f7f5f}
.slate_comment2{color:#999}
.slate_comment3{color:#3f5fbf}
.slate_comment4{color:navy}
.slate_literal1{color:#2a00ff}
.slate_literal2{color:teal}
.smalltalk_keyword1{color:#7f0055}
.smalltalk_keyword2{color:#03f}
.smalltalk_keyword3{color:#3066ac}
.smalltalk_keyword4{color:#36c}
.smalltalk_function,.smalltalk_markup{color:navy}
.smalltalk_operator{color:#7f0055}
.smalltalk_label{color:olive}
.smalltalk_digit{color:red}
.smalltalk_comment1{color:#3f7f5f}
.smalltalk_comment2{color:#999}
.smalltalk_comment3{color:#3f5fbf}
.smalltalk_comment4{color:navy}
.smalltalk_literal1{color:#2a00ff}
.smalltalk_literal2{color:teal}
.smi-mib_keyword1{color:#7f0055}
.smi-mib_keyword2{color:#03f}
.smi-mib_keyword3{color:#3066ac}
.smi-mib_keyword4{color:#36c}
.smi-mib_function,.smi-mib_markup{color:navy}
.smi-mib_operator{color:#7f0055}
.smi-mib_label{color:olive}
.smi-mib_digit{color:red}
.smi-mib_comment1{color:#3f7f5f}
.smi-mib_comment2{color:#999}
.smi-mib_comment3{color:#3f5fbf}
.smi-mib_comment4{color:navy}
.smi-mib_literal1{color:#2a00ff}
.smi-mib_literal2{color:teal}
.splus_keyword1{color:#7f0055}
.splus_keyword2{color:#03f}
.splus_keyword3{color:#3066ac}
.splus_keyword4{color:#36c}
.splus_function,.splus_markup{color:navy}
.splus_operator{color:#7f0055}
.splus_label{color:olive}
.splus_digit{color:red}
.splus_comment1{color:#3f7f5f}
.splus_comment2{color:#999}
.splus_comment3{color:#3f5fbf}
.splus_comment4{color:navy}
.splus_literal1{color:#2a00ff}
.splus_literal2{color:teal}
.sqr_keyword1{color:#7f0055}
.sqr_keyword2{color:#03f}
.sqr_keyword3{color:#3066ac}
.sqr_keyword4{color:#36c}
.sqr_function,.sqr_markup{color:navy}
.sqr_operator{color:#7f0055}
.sqr_label{color:olive}
.sqr_digit{color:red}
.sqr_comment1{color:#3f7f5f}
.sqr_comment2{color:#999}
.sqr_comment3{color:#3f5fbf}
.sqr_comment4{color:navy}
.sqr_literal1{color:#2a00ff}
.sqr_literal2{color:teal}
.squidconf_keyword1{color:#7f0055}
.squidconf_keyword2{color:#03f}
.squidconf_keyword3{color:#3066ac}
.squidconf_keyword4{color:#36c}
.squidconf_function,.squidconf_markup{color:navy}
.squidconf_operator{color:#7f0055}
.squidconf_label{color:olive}
.squidconf_digit{color:red}
.squidconf_comment1{color:#3f7f5f}
.squidconf_comment2{color:#999}
.squidconf_comment3{color:#3f5fbf}
.squidconf_comment4{color:navy}
.squidconf_literal1{color:#2a00ff}
.squidconf_literal2{color:teal}
.ssharp_keyword1{color:#7f0055}
.ssharp_keyword2{color:#03f}
.ssharp_keyword3{color:#3066ac}
.ssharp_keyword4{color:#36c}
.ssharp_function,.ssharp_markup{color:navy}
.ssharp_operator{color:#7f0055}
.ssharp_label{color:olive}
.ssharp_digit{color:red}
.ssharp_comment1{color:#3f7f5f}
.ssharp_comment2{color:#999}
.ssharp_comment3{color:#3f5fbf}
.ssharp_comment4{color:navy}
.ssharp_literal1{color:#2a00ff}
.ssharp_literal2{color:teal}
.svn-commit_keyword1{color:#7f0055}
.svn-commit_keyword2{color:#03f}
.svn-commit_keyword3{color:#3066ac}
.svn-commit_keyword4{color:#36c}
.svn-commit_function,.svn-commit_markup{color:navy}
.svn-commit_operator{color:#7f0055}
.svn-commit_label{color:olive}
.svn-commit_digit{color:red}
.svn-commit_comment1{color:#3f7f5f}
.svn-commit_comment2{color:#999}
.svn-commit_comment3{color:#3f5fbf}
.svn-commit_comment4{color:navy}
.svn-commit_literal1{color:#2a00ff}
.svn-commit_literal2{color:teal}
.swift_comment1{color:#008312}
.swift_comment2{color:#008312}
.swift_literal1{color:#508187}
.swift_literal2{color:#C41A16}
.swift_literal3{color:#961111}
.swift_literal4{color:#6F41A7}
.swift_operator{color:#000000}
.swift_digit{color:#1C00CF}
.swift_keyword1{color:#B833A1}
.swift_keyword2{color:#6F41A7}
.swift_keyword3{font-weight:700}
.swig_keyword1{color:#7f0055}
.swig_keyword2{color:#03f}
.swig_keyword3{color:#3066ac}
.swig_keyword4{color:#36c}
.swig_function,.swig_markup{color:navy}
.swig_operator{color:#7f0055}
.swig_label{color:olive}
.swig_digit{color:red}
.swig_comment1{color:#3f7f5f}
.swig_comment2{color:#999}
.swig_comment3{color:#3f5fbf}
.swig_comment4{color:navy}
.swig_literal1{color:#2a00ff}
.swig_literal2{color:teal}
.tcl_keyword1{color:#7f0055}
.tcl_keyword2{color:#03f}
.tcl_keyword3{color:#3066ac}
.tcl_keyword4{color:#36c}
.tcl_function,.tcl_markup{color:navy}
.tcl_operator{color:#7f0055}
.tcl_label{color:olive}
.tcl_digit{color:red}
.tcl_comment1{color:#3f7f5f}
.tcl_comment2{color:#999}
.tcl_comment3{color:#3f5fbf}
.tcl_comment4{color:navy}
.tcl_literal1{color:#2a00ff}
.tcl_literal2{color:teal}
.texinfo_keyword1{color:#7f0055}
.texinfo_keyword2{color:#03f}
.texinfo_keyword3{color:#3066ac}
.texinfo_keyword4{color:#36c}
.texinfo_function,.texinfo_markup{color:navy}
.texinfo_operator{color:#7f0055}
.texinfo_label{color:olive}
.texinfo_digit{color:red}
.texinfo_comment1{color:#3f7f5f}
.texinfo_comment2{color:#999}
.texinfo_comment3{color:#3f5fbf}
.texinfo_comment4{color:navy}
.texinfo_literal1{color:#2a00ff}
.texinfo_literal2{color:teal}
.text_keyword1{color:#7f0055}
.text_keyword2{color:#03f}
.text_keyword3{color:#3066ac}
.text_keyword4{color:#36c}
.text_function,.text_markup{color:navy}
.text_operator{color:#7f0055}
.text_label{color:olive}
.text_digit{color:red}
.text_comment1{color:#3f7f5f}
.text_comment2{color:#999}
.text_comment3{color:#3f5fbf}
.text_comment4{color:navy}
.text_literal1{color:#2a00ff}
.text_literal2{color:teal}
.toml_literal1 {color: red;}
.toml_literal2 {color: #2a00ff;}
.toml_literal3 {color: navy;}
.toml_keyword1 {color: teal;}
.toml_comment1 {color: #3f7f5f;}
.toml_digit {color: red;}
.tpl_keyword1{color:#7f0055}
.tpl_keyword2{color:#03f}
.tpl_keyword3{color:#3066ac}
.tpl_keyword4{color:#36c}
.tpl_function,.tpl_markup{color:navy}
.tpl_operator{color:#7f0055}
.tpl_label{color:olive}
.tpl_digit{color:red}
.tpl_comment1{color:#3f7f5f}
.tpl_comment2{color:#999}
.tpl_comment3{color:#3f5fbf}
.tpl_comment4{color:navy}
.tpl_literal1{color:#2a00ff}
.tpl_literal2{color:teal}
.tsql_keyword1{color:#7f0055}
.tsql_keyword2{color:#03f}
.tsql_keyword3{color:#3066ac}
.tsql_keyword4{color:#36c}
.tsql_function,.tsql_markup{color:navy}
.tsql_operator{color:#7f0055}
.tsql_label{color:olive}
.tsql_digit{color:red}
.tsql_comment1{color:#3f7f5f}
.tsql_comment2{color:#999}
.tsql_comment3{color:#3f5fbf}
.tsql_comment4{color:navy}
.tsql_literal1{color:#2a00ff}
.tsql_literal2{color:teal}
.twig_literal1{color:red}
.twig_literal2{color:teal}
.twig_literal3{color:#0080ff}
.twig_markup{color:navy}
.twig_keyword1{color:#6000f5; font-weight:700;}
.twig_comment1{color:#3f7f5f;}
.twig_digit{color:#0175b6}
.twig_operator{color:#7f0055}
.twiki_keyword1{color:#7f0055}
.twiki_keyword2{color:#03f}
.twiki_keyword3{color:#3066ac}
.twiki_keyword4{color:#36c}
.twiki_function,.twiki_markup{color:navy}
.twiki_operator{color:#7f0055}
.twiki_label{color:olive}
.twiki_digit{color:red}
.twiki_comment1{color:#3f7f5f}
.twiki_comment2{color:#999}
.twiki_comment3{color:#3f5fbf}
.twiki_comment4{color:navy}
.twiki_literal1{color:#2a00ff}
.twiki_literal2{color:teal}
.typescript_keyword1{font-weight:700;color:#7f0055}
.typescript_keyword2{color:#03f}
.typescript_keyword3{color:#3066ac}
.typescript_keyword4{color:#36c}
.typescript_function,.typescript_markup{color:navy}
.typescript_operator{color:#7f0055}
.typescript_label{color:olive}
.typescript_digit{color:red}
.typescript_comment1{color:#3f7f5f}
.typescript_comment2{color:#999}
.typescript_comment3{color:#3f5fbf}
.typescript_comment4{color:navy}
.typescript_literal1{color:#2a00ff}
.typescript_literal2{color:teal}
.typescript_literal3{color: #cc00ff}
.typoscript_keyword1{color:#7f0055}
.typoscript_keyword2{color:#03f}
.typoscript_keyword3{color:#3066ac}
.typoscript_keyword4{color:#36c}
.typoscript_function,.typoscript_markup{color:navy}
.typoscript_operator{color:#7f0055}
.typoscript_label{color:olive}
.typoscript_digit{color:red}
.typoscript_comment1{color:#3f7f5f}
.typoscript_comment2{color:#999}
.typoscript_comment3{color:#3f5fbf}
.typoscript_comment4{color:navy}
.typoscript_literal1{color:#2a00ff}
.typoscript_literal2{color:teal}
.uscript_keyword1{color:#7f0055}
.uscript_keyword2{color:#03f}
.uscript_keyword3{color:#3066ac}
.uscript_keyword4{color:#36c}
.uscript_function,.uscript_markup{color:navy}
.uscript_operator{color:#7f0055}
.uscript_label{color:olive}
.uscript_digit{color:red}
.uscript_comment1{color:#3f7f5f}
.uscript_comment2{color:#999}
.uscript_comment3{color:#3f5fbf}
.uscript_comment4{color:navy}
.uscript_literal1{color:#2a00ff}
.uscript_literal2{color:teal}
.vbnet_keyword1{font-weight:700;color:#36c}
.vbnet_keyword2{color:#36c}
.vbnet_keyword3{color:#36c}
.vbnet_keyword4{color:#36c}
.vbnet_function,.vbnet_markup{color:#36c}
.vbnet_operator{color:#7f0055}
.vbnet_label{color:olive}
.vbnet_digit{color:red}
.vbnet_comment1{color:green}
.vbnet_comment2{color:#999}
.vbnet_comment3{color:#3f5fbf}
.vbnet_comment4{color:navy}
.vbnet_literal1{color:#939}
.vbnet_literal2{color:#36c}
.vbscript_keyword1{color:#7f0055}
.vbscript_keyword2{font-weight:700;color:#36c}
.vbscript_keyword3{color:#3066ac}
.vbscript_keyword4{color:#36c}
.vbscript_function,.vbscript_markup{color:navy}
.vbscript_operator{color:#7f0055}
.vbscript_label{color:olive}
.vbscript_digit{color:red}
.vbscript_comment1{color:#3f7f5f}
.vbscript_comment2{color:#999}
.vbscript_comment3{color:#3f5fbf}
.vbscript_comment4{color:navy}
.vbscript_literal1{color:#2a00ff}
.vbscript_literal2{color:teal}
.velocity_keyword1{color:#7f0055}
.velocity_keyword2{color:#03f}
.velocity_keyword3{color:#3066ac}
.velocity_keyword4{color:#36c}
.velocity_function,.velocity_markup{color:navy}
.velocity_operator{color:#7f0055}
.velocity_label{color:olive}
.velocity_digit{color:red}
.velocity_comment1{color:#3f7f5f}
.velocity_comment2{color:#999}
.velocity_comment3{color:#3f5fbf}
.velocity_comment4{color:navy}
.velocity_literal1{color:#2a00ff}
.velocity_literal2{color:teal}
.verilog_keyword1{color:#7f0055}
.verilog_keyword2{color:#03f}
.verilog_keyword3{color:#3066ac}
.verilog_keyword4{color:#36c}
.verilog_function,.verilog_markup{color:navy}
.verilog_operator{color:#7f0055}
.verilog_label{color:olive}
.verilog_digit{color:red}
.verilog_comment1{color:#3f7f5f}
.verilog_comment2{color:#999}
.verilog_comment3{color:#3f5fbf}
.verilog_comment4{color:navy}
.verilog_literal1{color:#2a00ff}
.verilog_literal2{color:teal}
.vhdl_keyword1{color:#7f0055}
.vhdl_keyword2{color:#03f}
.vhdl_keyword3{color:#3066ac}
.vhdl_keyword4{color:#36c}
.vhdl_function,.vhdl_markup{color:navy}
.vhdl_operator{color:#7f0055}
.vhdl_label{color:olive}
.vhdl_digit{color:red}
.vhdl_comment1{color:#3f7f5f}
.vhdl_comment2{color:#999}
.vhdl_comment3{color:#3f5fbf}
.vhdl_comment4{color:navy}
.vhdl_literal1{color:#2a00ff}
.vhdl_literal2{color:teal}
.xml_keyword1{color:#7f0055}
.xml_keyword2{color:#03f}
.xml_keyword3{color:#3066ac}
.xml_keyword4{color:#36c}
.xml_function,.xml_markup{color:navy}
.xml_operator{color:#7f0055}
.xml_label{color:olive}
.xml_digit{color:red}
.xml_comment1{color:#3f7f5f}
.xml_comment2{color:#999}
.xml_comment3{color:#3f5fbf}
.xml_comment4{color:navy}
.xml_literal1{color:red}
.xml_literal2{color:teal}
.xml_literal3,.html_literal3{color:#0080ff}
.xq_keyword1{color:#7f0055}
.xq_keyword2{color:#03f}
.xq_keyword3{color:#3066ac}
.xq_keyword4{color:#36c}
.xq_function,.xq_markup{color:navy}
.xq_operator{color:#7f0055}
.xq_label{color:olive}
.xq_digit{color:red}
.xq_comment1{color:#3f7f5f}
.xq_comment2{color:#999}
.xq_comment3{color:#3f5fbf}
.xq_comment4{color:navy}
.xq_literal1{color:#2a00ff}
.xq_literal2{color:teal}
.xsl_keyword1{color:#7f0055}
.xsl_keyword2{color:#03f}
.xsl_keyword3{color:#3066ac}
.xsl_keyword4{color:#36c}
.xsl_function,.xsl_markup{color:navy}
.xsl_operator{color:#7f0055}
.xsl_label{color:olive}
.xsl_digit{color:red}
.xsl_comment1{color:#3f7f5f}
.xsl_comment2{color:#999}
.xsl_comment3{color:#3f5fbf}
.xsl_comment4{color:navy}
.xsl_literal1{color:#2a00ff}
.xsl_literal2{color:teal}
.zpt_keyword1{color:#7f0055}
.zpt_keyword2{color:#03f}
.zpt_keyword3{color:#3066ac}
.zpt_keyword4{color:#36c}
.zpt_function,.zpt_markup{color:navy}
.zpt_operator{color:#7f0055}
.zpt_label{color:olive}
.zpt_digit{color:red}
.zpt_comment1{color:#3f7f5f}
.zpt_comment2{color:#999}
.zpt_comment3{color:#3f5fbf}
.zpt_comment4{color:navy}
.zpt_literal1{color:#2a00ff}
.zpt_literal2{color:teal}
.qt_keyword1{color:#00f}
.qt_keyword2{color:#00f}
.qt_keyword3{color:#00f}
.qt_keyword4{color:#a020a0;font-weight:700}
.qt_function,.qt_markup{color:#000}
.qt_operator{color:navy}
.qt_label{color:olive}
.qt_digit{color:red}
.qt_comment1{color:green}
.qt_comment2{color:green}
.qt_comment3{color:#3f5fbf}
.qt_comment4{color:navy}
.qt_literal1{color:#399}
.qt_literal2{color:olive}
.qt-pro_keyword1{color:#a020a0; font-weight:700;}
.qt-pro_comment1{color:green}
.qt-pro_keyword2{color:#0000ff}
.qt-pro_operator{color:#4271ae}
.qt-pro_literal1{color:red}
.qt-pro_literal2{color:olive}
.qt-pro_digit{color:red}
.windev_keyword1{font-family:Courier New,Courier,mono;color:blue;text-decoration:none;font-weight:700}
.windev_keyword2{font-family:Courier New,Courier,mono;text-decoration:none;font-weight:700}
.windev_keyword3{font-family:Courier New,Courier,mono;text-decoration:none;font-weight:700}
.windev_keyword4{font-family:Courier New,Courier,mono;text-decoration:none}
.windev_function,.windev_markup{font-family:Courier New,Courier,mono;color:#00c;text-decoration:none}
.windev_operator{color:#7f0055}
.windev_label{color:#606}
.windev_digit{font-family:Courier New,Courier,mono;color:#606;text-decoration:none}
.windev_comment1{color:gray;text-decoration:none;font:9pt Courier New,Courier,mono}
.windev_comment2{color:gray;text-decoration:none;font:9pt Courier New,Courier,mono}
.windev_comment3{color:blue}
.windev_comment4{color:green}
.windev_literal1{font-family:Tahoma,Segoe UI,Arial,Helvetica,sans-serif;color:#606;text-decoration:none}
.windev_literal2{font-style:italic;color:blue}