body {
    padding-top: 70px;
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
}

/* For devices with narrow screens, add a bit of left & right padding */
@media(max-width: 768px) {                                                       
    body {                                                                       
        padding-top: 70px;                                                       
        padding-left: 10px;                                                      
        padding-right: 10px;                                                     
    }                                                                            
}

pre {
    font-family: Consolas, monaco, monospace;
    font-size: 85%;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    background-color: #f7f7f7;
}

.highlight pre {
    background-color: #f7f7f7;
}

/*
 * Keep <code> and <tt> similarly formatted, since older posts use the former
 * but newer posts use the latter, for the same purpose.
 */ 
code {
    font-family: Consolas, monaco, monospace;
    color: #000000;
    background-color: #f7f7f7;
    white-space: nowrap;
    border-radius: 2px;
    font-size: 90%;
    padding: 2px 2px;
}

tt {
    font-family: Consolas, monaco, monospace;
    color: #000000;
    background-color: #f7f7f7;
    white-space: nowrap;
    border-radius: 2px;
    font-size: 90%;
    padding: 2px 2px;
}

.container {
    max-width: 850px;
}

article > .page-header {
    margin: 40px 0 10px;
}

/*
 * The padding here is computed carefully to vertically align with the site name
 * on the left side of the navbar, which has a 32px image in it and padding-top
 * set to 15px.
 */
.navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 15px;
}

.label {
    padding: .2em;
    font-size: 100%;
}

.published {
    margin-right: 15px;
}

/* for list-groups nested within a list-group-item, reset the bottom margin */
.list-group-item > .list-group {
    margin-bottom: 0px;
}

/* for list-group-items nested within a list-group-item, reset the bottom
   padding of the last item, b/c the containing item has paddimg already 
 */
.list-group-item .list-group-item:last-child {
    padding-bottom: 0px;
}

.list-group-item {
    border: none;
}

.tag-1 {
    font-size: 13pt;
}

.tag-2 {
    font-size: 10pt;
}

.tag-2 {
    font-size: 8pt;
}

.tag-4 {
    font-size: 6pt;
}

.icon-label {
    margin-left: 10px;
}

a, a:hover {
    color: inherit;
}

.entry-content a, .external-link {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.entry-content a:hover, .external-link a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

.entry-content img {
    max-width: 100%;
    height: auto;
}

.entry-content figcaption, .caption {
    font-size: small;
    margin-bottom: 2px;
}

.floatright, .align-right {
    float: right;
}

.floatleft, .align-left {
    float: left;
}

.floatcenter, .align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table.docutils {
    margin: 0px auto;
}

table.footnote {
    margin: 0px;
}

figure.floatright, .align-right {
    margin-left: 4px;
}

figure.floatleft, .align-left {
    margin-right: 4px;
}

figure.floatcenter, .align-center {
    margin-bottom: 11px;
}

.highlighttable {
    /* Adds them margin-bottom to highlightable instead of <pre> */
    margin-bottom: 11px;
}

.highlighttable .code {
    width: 100%;
}

#categories ul, #tags ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.docutils.footnote td.label {
    display: table-cell;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    border-radius: inherit;
}

.categories-timestamp {
    color: #AAAAAA;
    font-size: 0.9em;
    margin-right: 10px;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #ccc;
    color: #ccc;
    text-align: center;
}

hr.style-eight:after {
    content: "~~~"; display: inline-block; position: relative; top: -0.7em;
    font-size: 1.5em; padding: 0 0.25em; background: white;
}

/* Used to vertically align inline elements like images */
.valign-0   { vertical-align: 0px; }
.valign-1   { vertical-align: 1px; }
.valign-2   { vertical-align: 2px; }
.valign-3   { vertical-align: 3px; }
.valign-4   { vertical-align: 4px; }
.valign-5   { vertical-align: 5px; }
.valign-6   { vertical-align: 6px; }
.valign-7   { vertical-align: 7px; }
.valign-8   { vertical-align: 8px; }
.valign-9   { vertical-align: 9px; }
.valign-10  { vertical-align: 10px; }
.valign-11  { vertical-align: 11px; }
.valign-m1  { vertical-align: -1px; }
.valign-m2  { vertical-align: -2px; }
.valign-m3  { vertical-align: -3px; }
.valign-m4  { vertical-align: -4px; }
.valign-m5  { vertical-align: -5px; }
.valign-m6  { vertical-align: -6px; }
.valign-m7  { vertical-align: -7px; }
.valign-m8  { vertical-align: -8px; }
.valign-m9  { vertical-align: -9px; }
.valign-m10 { vertical-align: -10px; }
.valign-m11 { vertical-align: -11px; }

